<h2>Latest from my blog</h2>
<section class="js-feed-content">
	<p><img src="resources/imgs/loader.gif">Loading...</p>
</section>
<p><a class="btn" href="http://blog.js-development.com" target="_window">More »</a></p>