---
layout: default_new
title: "Angular 2 Snippets"
lead: "My Angular 2 code snippets"
permalink: /coderecipes/angular-2/
postimg: /blog/assets/imgs/angular2-index-bg.png
---

<div class="container" style="padding-top:150px">

    {% assign my_categories = "Basics|First Steps|Forms|Ajax|Authentication|Other" | split: "|"  %}

    {% for cat in my_categories %}
    <section class="row" style="max-width:1050px; margin: 0 auto;">
        <h1>{{ cat }}</h1>
        <ul>
            {% for page in site.pages %}
                {% if page.type == "snippet" and page.category contains cat %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% endfor %}


    <section class="row" style="max-width:1050px; margin: 0 auto;">
        <h1>Categories</h1>
        <ul>
            <li>Setup (tooling, language stuff like TypeScript,,...)</li>
            <li>First steps (basics, rendering data)</li>
            <li>Forms (data input,...)</li>
            <li>Client-server communication (ajax, RxJS...)</li>
            <li>Authentication</li>
            <li>Testing (unit testing, e2e,...)</li>
        </ul>

    </section>

</div>