.article-link {
    box-shadow: 0 1px 4px rgba(0,0,0,.04),inset 0 0 0 1px rgba(0,0,0,.09);
    color: rgba(0,0,0,.44);
    line-height: 1;
    display: table;
    width: 100%;
    margin: 10px 0 10px;

    a {
        text-decoration: none;
    }

    .article-link--titlesection {
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
        background-image: none;
        font-size: 12px;
        color: rgba(0,0,0,.4);

        strong {
            font-weight: 400;
            font-size: 20px;
            display: block;
            color: rgba(0,0,0,.9);
        }

        em {
            font-size: 16px;
            color: rgba(0,0,0,.6);
            display: block;
            font-style: normal;
            padding-bottom: 15px;
        }
    }

    .article-link--image {
        display: table-cell;
        vertical-align: middle;
        width: 160px;
        height: 160px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-sizing: border-box;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.09);
    }

}