@import "_variables";

$navbar-height: 175px;

nav {
  font-family: $article-title-font;
  // height: $navbar-height;
  display:block;
  // overflow:hidden;
  box-sizing: border-box;
  position: relative;
  // z-index: 1001;
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  // background: rgba(255,255,255,0.97);
  background: #fafafa;
  // box-shadow: 0 0 1px rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);

  .container {
    margin: 0 auto;
    max-width: 850px;
  }

  .header--profile {

    .avatar {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;

      img {
        display: inline-block;
        vertical-align: middle;
        border-radius: 100%;
        width: 100px;
        height:100px;
      }

    }

    .header--description {
      padding-top:15px;
      color: $lightgray;
    }

    .social-icons {
      padding-bottom: 20px;
      font-size: 20px;

      div {
        display: inline-block;
      }

      .social-icons--right {
        float: right;
        padding-right: 25px;
      }
    }

    .header--avatar {
      float: right;
    }

  }

    ul.header--navigation {
      width: auto;
      max-width: none;
      padding: 0;
      margin: 0;
      border-top: 1px solid rgba(0,0,0,.05);

      li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        margin-top: -1px;
        height: 49px;

        a {
          margin-top: 15px;
        }

        // &:hover {
        //   border-bottom: 1px solid $navbar-color;
        // }

      }

    }




  a {
    text-decoration: none;
    color: $lightgray;
    display: inline-block;

    &:hover {
      color: $navbar-color;
    }

  }

  .navbar--left {
    display: inline-block;
    padding-left: 25px;
    font-size: 28px;
    float: left;

    a {
      font-weight:bold;
      color: $navbar-color;
      padding-top: 5px;
    }

  }

  .navbar--right {


  }

}