@import "_variables";

$navbar-height: 50px;

nav {
  font-family: $article-title-font;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: $navbar-height;
  display:block;
  box-sizing: border-box;

  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.97);
  box-shadow: 0 0 1px rgba(0,0,0,0.15);

  a {
    text-decoration: none;
    color: $superlightgray;
    height: $navbar-height;
    display: block;

    &:hover {
      color: $navbar-color;
    }

  }

  .navbar--left {
    display: inline-block;
    padding-left: 25px;
    font-size: 28px;
    float: left;

    a {
      font-weight:bold;
      color: $navbar-color;
      padding-top: 5px;
    }

  }

  .navbar--main {
    display: inline-block;
    position: relative;
    float: right;

    ul {
      width: auto;
      max-width: none;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        margin-top: -1px;
        height: 49px;

        a {
          margin-top: 15px;
        }

        &:hover {
          border-bottom: 1px solid $navbar-color;
        }

      }

    }
  }

  .navbar--right {


  }

}

// .metabar {
//   font-family: $article-title-font;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
//   height: 43px;
//   position: absolute;
//   font-size: 14px;

//   display:block;
//   z-index: 100;
//   box-sizing: border-box;

//   top: 0;
//   left: 0;
//   width: 100%;

//   margin-top: 10px;

//   line-height: 30px;

//   a {

//     text-decoration: none;
//     color: $superlightgray;

//     img {
//       width: 32px;
//       height: 32px;
//       box-shadow: 0 1px 2px rgba(0,0,0,0.4);
//       border-radius: 100%;
//       position: relative;
//       max-width: 100%;
//       box-sizing: border-box;
//       vertical-align:middle;
//     }

//   }

//   .meta {
//     display: block;
//     margin-left: 60px;

//     &:before {
//       content: '';
//       width: 1px;
//       height: 28px;
//       display: block;
//       background: rgba(0,0,0,0.15);
//       margin: 2px 14px 0 6px;
//       float: left;
//       padding: 0;
//     }
//   }

//   .subscription {
//     position: absolute;
//     font-size: 25px;
//     right: 5px;
//     top: 0;
//   }

// }

// a.menu-button {
//   font-size: 30px;
//   color: $article-title-color;
//   cursor: pointer;
//   padding-left: 10px;
//   float:left;
//   position: absolute;
//   left: 10px;
// }

// // .metabar--top {
// //   position: absolute;
// //   top: 0;
// //   height: 35px;
// // }

// // .metabar {
// //   z-index: 500;
// //   left:0;
// //   height: 65px;
// //   width: 100%;
// //   font-size: 14px;
// //   color: rgba(0,0,0,0.3);
// //   letter-spacing: -0.02em;
// //   font-weight: 400;
// //   font-style: normal;
// //   -webkit-box-sizing: border-box;
// //   -moz-box-sizing: border-box;
// //   box-sizing: border-box;
// //   -webkit-transition: .2s background-color,.2s color;
// //   -moz-transition: .2s background-color,.2s color;
// //   -ms-transition: .2s background-color,.2s color;
// //   -o-transition: .2s background-color,.2s color;
// //   transition: .2s background-color,.2s color;
// //   border-bottom: 1px solid;
// //   padding-top: 5px;

// //   .metabar-menubutton {
// //     font-size: 30px;
// //     color: $article-title-color;
// //     cursor: pointer;
// //     padding-left: 10px;
// //   }

// //   span {
// //     float:left;
// //   }

// //   .metabar-section {
// //     display:inline-block;
// //   }

// //   .metabar-section:before {
// //     content: '';
// //     width: 1px;
// //     height: 28px;
// //     display: block;
// //     background: rgba(0,0,0,0.15);
// //     margin: 2px 14px 0 6px;
// //     float: left;
// //     padding: 0;
// //   }

// // }

// /*
// .header {
//   width: 100%;
//   height: 150px;
// }

// .navigation {
//   background: rgba(255, 255, 255, 0.95);
//   white-space: nowrap;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;
//   -webkit-transition: background-color 200ms linear;
//   -moz-transition: background-color 200ms linear;
//   -o-transition: background-color 200ms linear;
//   transition: background-color 200ms linear;
// }
// */
