
// colors
$lightgray: rgba(0,0,0,0.6);
$superlightgray: rgba(0,0,0,0.44);

$article-body-maxwidth: 850px;
$article-body-font: 'Lora', serif;

// $article-title-color: #423F37;
$article-title-color: rgba(0,0,0,0.8);
$article-title-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$article-subtitle-font: $article-title-font;
// $article-subtitle-color: #666665;
$article-subtitle-color: $superlightgray;
// $article-body-color: #333332;
$article-body-color: rgba(0,0,0,0.8);

$navbar-color: rgba(0,0,0,0.8);
