.video-banner {
    position:relative;

    .video-banner-title {
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-size: 20pt;
        position: absolute;
        top: 19px;
        color: white;
        font-weight: bolder;
        width: 520px;
        left: 111px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        height: 65px;
    }
}

@media screen and (max-width: $article-body-maxwidth) {
    .video-banner {
        .video-banner-title {
            font-size: 13pt;
            top: 2px;
            width: 359px;
            left: 66px;
        }
    }
}