# Chrome Developer Tools
<div id="toc"></div>
This page is intended to function as a collection of useful tipps and tricks to get productive in developing rich JavaScript applications with the Chrome Developer tools.

### Change History
<div id="versionhistory"></div>

## The different Chrome Channels
Chrome has different [release channels](http://www.chromium.org/getting-involved/dev-channel), namely

- Stable
- Beta
- Dev
- Canary

Stable is obviously the most stable one while Canary is based on nearly a nightly release cycle and hence might be quite instable to use. On the other side, choosing the dev or canary version allows you to quickly get the newest features.

> Note, you can install Canary side-by-side with either stable, beta or dev. Installing the later three side by side is not possible.

## Productivity Shortcuts

<table class="table table-striped">
<thead>
    <th>Shortcut</th>
    <th>Description</th>
</thead>
<tbody>
    <tr>
        <td><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>J</kbd>
        <td>Opens the JavaScript console in the Chrome Dev tools
    </tr>    
    <tr>
        <td><kbd>Ctrl</kbd>+<kbd>P</kbd>
        <td>Opens a dialog for navigating to loaded JavaScript files
    </tr>
    <tr>
        <td><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>
        <td>Opens a dialog for navigating to JavaScript functions within the loaded JavaScript file
    </tr>    
</tbody>
</table>

## Productivity Extensions

### DevTools Autosave and Tincr

The Chrome Dev Tools have the extremely nice ability to let you live edit JavaScript files and continue debugging the web app. The problem is that once you refresh the page, your changes are obviously lost.

Wouldn't it be nice if Chrome could save your changes directly back to the file system?? Addy Osmani demonstrates it in this short video:

<iframe src="http://player.vimeo.com/video/33765496" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

[Here's](http://blog.js-development.com/2012/08/know-your-tools-become-javascript-power.html) everything to get started.

### JSONView
Format JSON resonses:

![](https://lh6.googleusercontent.com/pnjK_SSE5ZRVXmS3gWpKuJtqyKQRU2DjodecE_Pm4oZX_2IT2b4Db3hP5GgO7vticFOnLyqpyQ=s640-h400-e365)

Here's the link to the [Chrome Web Store](https://chrome.google.com/webstore/detail/chklaanhfefbnpoihckbnefhakgolnmc).

## Videos

### Chrome Dev Tools Reloaded

<iframe width="560" height="315" src="http://www.youtube.com/embed/N8SS-rUEZPg" frameborder="0" allowfullscreen></iframe>

### 12 Tricks to Develop Quickier

<iframe width="560" height="315" src="http://www.youtube.com/embed/nOEw9iiopwI" frameborder="0" allowfullscreen></iframe>
