# Chrome Dev Tools to File System

> This article is being written

The Chrome Dev Tools have the extremely nice ability to let you live edit JavaScript files and continue debugging the web app. The problem is that once you refresh the page, your changes are obviously lost.

Wouldn't it be nice if Chrome could save your changes directly back to the file system?? Addy Osmani demonstrates it in this short video:

<iframe src="http://player.vimeo.com/video/33765496" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/33765496">Chrome DevTools AutoSave (HD)</a> from <a href="http://vimeo.com/user2886296">AddyOsmani.com</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

## Setup
You need to download

## Links
- [Main GitHub repo](https://github.com/NV/chrome-devtools-autosave)
- [Auto-saving CSS and JavaScript Changes Locally From the Chrome Developer Tools](http://addyosmani.com/blog/autosave-changes-chrome-dev-tools/)
- [Adding routing](https://github.com/NV/chrome-devtools-autosave)