# Chrome Developer Tools
<div id="toc"></div>
This page is intended to function as a collection of useful tipps and tricks to get productive in developing rich JavaScript applications with the Chrome Developer tools.

### Change History
<div id="versionhistory"></div>

## The different Chrome Channels
Chrome has different [release channels](http://www.chromium.org/getting-involved/dev-channel), namely

- Stable
- Beta
- Dev
- Canary

Stable is obviously the most stable one while Canary is based on nearly a nightly release cycle and hence might be quite instable to use. On the other side, choosing the dev or canary version allows you to quickly get the newest features.

> Note, you can install Canary side-by-side with either stable, beta or dev. Installing the later three side by side is not possible.

