# Links
This site is supposed to contain a series of links to useful resources on the web.

## jQuery Plugins
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name
			<th>Description
			<th>Link
		</tr>
	</thead>
	<tbody>
	    <tr>
	        <td>iScroll
	        <td>Simulates phone like scrolling behavior
	       	<td><a href="http://cubiq.org/iscroll-4">link</a>
	    </tr>
	    <tr>
	        <td>Screenful
	        <td>Cross browser fullscreen api
	       	<td><a href="https://github.com/sindresorhus/screenfull.js/">link</a>
	    </tr>	    
	    <tr>
	    	<td>MouseTrap
	    	<td>JavaScript keyboard shortcuts
	    	<td><a href="http://thechangelog.com/post/26627955556/mousetrap-javascript-keyboard-shortcuts">link</a>
	    </tr>
	    <tr>
	    	<td>Flickable
	    	<td>iPhone and Android like flick scrolling
	    	<td><a href="http://lagoscript.org/jquery/flickable/demo">link</a>
	    </tr>
	    <tr>
	    	<td>Davis.js
	    	<td>Library for HTML5 pushState history support
	    	<td><a href="http://davisjs.com/">link</a>
	    </tr>
	    <tr>
	    	<td>storage.js
	    	<td>localStorage on any input field
	    	<td><a href="http://ek.alphaschildren.org/projects/storagejs">link</a>
	    </tr>
	    <tr>
	    	<td>Pep
	    	<td>Draggable leements (with mobile support)
	    	<td><a href="http://pep.briangonzalez.org/">link</a>
	    </tr>
	</tbody>
</table>

# Conference Videos
Some of the videos of conferences I attended and which I consider useful to collect and save here.

## JSDay - May 2012
Italian JavaScript days in Verona. There have been some quite good talks. Finally some good international speakers in Italy!

### Keynote: Programming Style and Your Brain
_by Douglas Crockford_
<iframe src="http://player.vimeo.com/video/45695736" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


### Getting Started with Nodejitsu
_by Nuno Job_

Nuno Job is the founder of [Nodejitsu](http://nodejitsu.com/), a cloud service provider for Nodejs apps.
<iframe src="http://player.vimeo.com/video/46680318" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


### Production Node.js Secrets
_by Daniel D. Shaw_
<iframe src="http://player.vimeo.com/video/46671305" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


### The Plight of Pinocchio: JavaScript's quest to become a real language
_by Brandon Keepers_
<iframe src="http://player.vimeo.com/video/45709623" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


### Backbone.js FTW!
_by Pierre Spring_
<iframe src="http://player.vimeo.com/video/45961317" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>