# Links
This site is supposed to contain a series of links to useful resources on the web.

## jQuery Plugins
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name
			<th>Description
			<th>Link
		</tr>
	</thead>
	<tbody>
	    <tr>
	        <td>iScroll
	        <td>Simulates phone like scrolling behavior
	       	<td><a href="http://cubiq.org/iscroll-4">link</a>
	    </tr>
	    <tr>
	        <td>Screenful
	        <td>Cross browser fullscreen api
	       	<td><a href="https://github.com/sindresorhus/screenfull.js/">link</a>
	    </tr>	    
	    <tr>
	    	<td>MouseTrap
	    	<td>JavaScript keyboard shortcuts
	    	<td><a href="http://thechangelog.com/post/26627955556/mousetrap-javascript-keyboard-shortcuts">link</a>
	    </tr>
	    <tr>
	    	<td>Flickable
	    	<td>iPhone and Android like flick scrolling
	    	<td><a href="http://lagoscript.org/jquery/flickable/demo">link</a>
	    </tr>
	    <tr>
	    	<td>Davis.js
	    	<td>Library for HTML5 pushState history support
	    	<td><a href="http://davisjs.com/">link</a>
	    </tr>
	    <tr>
	    	<td>storage.js
	    	<td>localStorage on any input field
	    	<td><a href="http://ek.alphaschildren.org/projects/storagejs">link</a>
	    </tr>
	    <tr>
	    	<td>Pep
	    	<td>Draggable leements (with mobile support)
	    	<td><a href="http://pep.briangonzalez.org/">link</a>
	    </tr>
	</tbody>
</table>