# Projects
Here are the projects I'm involved in. Normally they're quite small, often just prototypes to try out new stuff. But still, it might be worth sharing them :).

<div class="alert">
  Note that this page is a work in progress and will evolve over time when I start reorganizing and moving my <a href="http://projects.js-development.com">http://projects.js-development.com</a> to this page here.
</div>

<div class="row-fluid">
	<section class="span12 js-github-projects">

	</section>
</div>