# <section class="last-changed">August 13, 2012</section> Setting up Apache
<div id="toc"></div>
If you start to develop more in JavaScript you soon start to get the need for serving static files to your web browser while developing. Why a webserver? Because browsers often won't let you access remote data through ajax calls if you're operating from `file:///`.

Apache2 is a very nice and lightweight webserver environment which is setup in minutes on your machine.

### Change History
<div id="versionhistory"></div>

## Setup on OSX
OSX comes already preinstalled with Apache2. Assume you have your local directory with the static files in the folder `~/coding/mywebsite`. 

Then the first step is to edit the `httpd.conf` file located in the apache installation directory `/private/etc/apache2`. Locate the following line

    # Virtual hosts
	#Include /private/etc/apache2/extra/httpd-vhosts.conf

and toggle the comment.

The next step is to add the virtual host on the **httpd-vhosts.conf** file which is located in the `extra` folder and add the following:

	<VirtualHost *:80>
	    DocumentRoot "/Users/juri/coding/mywebsite"
	    ServerName mywebsite.local

	    <Directory />
	           Allow from all
	    </Directory>

	    ErrorLog "/private/var/log/apache2/mywebsite_error_log"
	</VirtualHost>

Then the `/etc/hosts` file needs to be edited adding

    127.0.0.1 	mywebsite.local

and **finally** restart apache2

    sudo apachectl restart

Pointing your browser to `http://mywebsite.local` should open the according index.html file.

### Links
http://davidwalsh.name/create-virtual-host

## Setup on Windows
_(will be written soon)_