# Talks
Some of the (so far mostly company internal) talks I gave and which I'd like to share here.

## JavaScript - The Language
A introduction to JavaScript from the language point of view. Nothing about frameworks, but a presentation about the most common language features with the purpose to point out the possibilities and peculiarities the language brings with it.

### Slides
<a href="/juristr/resources/talks/js_lang/index.html"><img src="/juristr/resources/imgs/javascript_thelanguage.png"/></a>