# Talks
Some of the (so far mostly company internal) talks I gave and which I'd like to share here.

## <section class="last-changed">August 07, 2012</section> JavaScript - The Language
A introduction to JavaScript from the language point of view. Nothing about frameworks, but a presentation about the most common language features with the purpose to point out the possibilities and peculiarities the language brings with it.

Btw, I created the presentation with [impress.js](https://github.com/bartaz/impress.js/), a library for creating HTML based [Prezi](http://prezi.com/) style presentations.

### Slides
<a href="/juristr/resources/talks/js_lang/index.html"><img src="/juristr/resources/imgs/javascript_thelanguage.png"/></a>