# <section class="last-changed">July 17, 2012</section> Creating This Site 

_Draft: This article is currently being developed_

I was annoyed by my old site. It was one of my first trials in using
HTML5 and Modernizr. I wanted to have something more fresh, modern, dynamic...
**in JavaScript** ;).

## Before...
I previously had my site deployed on [Google App Engine](http://appengine.google.com). There wasn't any server-side stuff involved, though. I mainly just used it for hosting the plain HTML files. But the process of uploading new stuff was extremely **tedious**. I had to have Eclipse setup (with GAE plugin) and some VCS system hosted somewhere (for backup purpose mainly). The deploy per se was pretty easy and optimized by the GAE guys. A one-click process integrated in Eclipse. But still, fetching the latest source from some CVS repo, opening Eclipse, editing the content, committing to the repo, pressing the one-click deploy button.

### But I wanted to have something...
...more easy to use, more flexible. **My requirements** were

- Easiest possible way to update/add new content; in terms of tools to be used as well as the way to produce content
- Easy to deploy
- Flexibility and portability
- Modern, lightweight design

So let's get started.

## Layout and Style
[Bootstrap](http://twitter.github.com/bootstrap/). I'm not a designer, right, I'm a developer. So I absolutely have no energy on hacking CSS (I mean, I'd say to have a quite deep understanding of it, but...I wanna code, not design) and complex designs. **Simplicity**, remember? I do absolutely **not** agree with [Bootstrap's semicolon policy](https://github.com/twitter/bootstrap/issues/3057) but it just gives you what you want in terms of flexible, nice looking, [responsive design](http://en.wikipedia.org/wiki/Responsive_Web_Design).

Admittedly, Bootstrap doesn't give you exaclty the design of this page here, i.e. the font. Here I got inspired by [Zach Holman's](http://zachholman.com) page. As he mentiones in his post about [Slide Design for Developers](http://zachholman.com/posts/slide-design-for-developers/) he uses the [Yanone Kaffeesatz](http://www.yanone.de/typedesign/kaffeesatz) font which you can easily find on [Google Web Fonts](http://www.google.com/webfonts/) and also include quite easily as

    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>

Therefore, credits to Zach for his great design. As he mentioned:

> Here's the deal. This is my blog, and there's certainly a distinctive look and feel 
> associated with it. I'd appreciate it if you changed your own fork. If you'll 
> notice, there's no license attached to this project, so technically I maintain 
> the rights associated with this project.
>
> So be cool, change things up, find your own voice. It'll work better for you in the long run, too.

I hope it's fine this way. I took the his idea of the font and on how to layout the sidebar and main content. Bootstrap did the rest for me.

## Adding Content
Now, adding content is probably one of the most important points. I **love** the flexibility and power pure HTML gives you, but sincerely, I **hate** to write HTML for structuring articles like this one. All the closing tags actually feel a little like noise when writing. Although, did you know in HTML5 you don't necessarily have to write the closing tags in some cases?? I.e.:

    <ul>
    	<li>List 1
    	<li>List 2
    </ul>

Looks strange? Yep, but it's valid HTML5 code. Anyway, **[Markdown](http://daringfireball.net/projects/markdown/) to the rescue!!.**

Markdown is so great when writing articles. It's a bit like using LaTek. You just concentrate on the syntax. The formatting itself will be done later on, automatically. Even this same page here has been written entirely in Markdown. It actually is just [this file](https://github.com/juristr/juristr.github.com/blob/master/juristr/pages/views/thissite_md.ejs) dynamically loaded and transformed at runtime into HTML. For that purpose I used [PageDown](http://code.google.com/p/pagedown/), the open source markdown JavaScript converter provided by the [StackOverflow](http://stackoverflow.com) guys.

So adding new content is basically nothing else than placing a markdown file in a certain directory on the server or editing an existing one. **Nice.**

## JavaScriptMVC - Let it do the heavy lifting
To the more interesting, _dynamic_ part of this site. Obviously I needed some degree of dynamic behavior as just serving plain static HTML files is boring. Since I rarely create new stuff (in my free time) without searching for opportunities to learn something new, also this time I decided to take the latest version of JavaScriptMVC and give it a try. I have to say that we currently (20.07.2012) already use version 3.1 of the framework. But since quite some stuff changed I decided to try those out in order to then know how to upgrade our existing apps.

So this page here is basically nothing else than a JavaScriptMVC app that dynamically loads pages written in Markdown syntax or integrates data from public API's like from Twitter, Google or StackOverflow.

### Why JavaScriptMVC and not...Backbone?
Without going into too much detail, JavaScriptMVC is a framework that's based on jQuery and makes it easy for JavaScript newcomers to enter the world of creating rich JavaScript web clients. That's mainly because JavaScriptMVC bundles a lot of stuff already like testing frameworks, minifiers, linters, dependency management, view templating etc...That's also one of the reasons we've chosen it to be used at work. I tried [Backbone](http://backbonejs.org/) and [Spine](http://spinejs.com/) and I really liked how they worked. But for our ASP.net WebForms developers it would have been probably more confusing to use.

## Deploy and hosting
...