# <section class="last-changed"><%= moment("2012-07-19").fromNow() %></section> Creating This Site 

_Draft: This article is currently being developed_

I was annoyed by my old site. That one was one of my first trials in using
HTML5 and Modernizr. I wanted to have something more fresh, modern, dynamic...
**in JavaScript** ;).

## Before...
I previously had my site deployed on [Google App Engine](http://appengine.google.com). I didn't have any server-side stuff involved, though. I mainly just used it for hosting the
plain HTML files. But the process of uploading new stuff was extremely **tedious**. I had to have Eclipse setup (with GAE plugin) and some VCS system hosted somewhere (for backup purpose mainly). The deploy per se was pretty easy and optimized by the GAE guys. A one-click process mainly integrated in Eclipse.

### But I wanted to have something...
...more easy to use, more flexible.

## Layout and Style

## JavaScriptMVC - Let it do the heavy lifting

## Hosting
