# <section class="last-changed">17th July, 2012</section> Creating This Site 

_Draft: This article is currently being developed_

I was annoyed by my old site. That one was one of my first trials in using
HTML5 and Modernizr. I wanted to have something more fresh, modern, dynamic...
**in JavaScript** ;).

## Before...
I previously had my site deployed on [Google App Engine](http://appengine.google.com). I didn't have any server-side stuff involved, though. I mainly just used it for hosting the plain HTML files. But the process of uploading new stuff was extremely **tedious**. I had to have Eclipse setup (with GAE plugin) and some VCS system hosted somewhere (for backup purpose mainly). The deploy per se was pretty easy and optimized by the GAE guys. A one-click process integrated in Eclipse.

### But I wanted to have something...
...more easy to use, more flexible. So **my requirements** were

- Easiest possible way to update/add new content; in terms of tools to be used as well as the way to produce content
- Easy to deploy
- Flexibility and portability
- Modern, lightweight design

So let's get started.

## Layout and Style
[Bootstrap](http://twitter.github.com/bootstrap/). I'm not a designer, right, I'm a developer. So I absolutely have no energy on hacking CSS (I mean, I'd say to have a quite deep understanding of it, but...I wanna code, not design) and complex designs. **Simplicity**, remember? I do absolutely **not** agree with [Bootstrap's semicolon policy](https://github.com/twitter/bootstrap/issues/3057) but it just gives you what you want in terms of flexible, [responsive design](http://en.wikipedia.org/wiki/Responsive_Web_Design).

## Adding Content

## JavaScriptMVC - Let it do the heavy lifting

## Deploy and hosting
