# Sublime Text 2 - Tips and Tricks
I admit, I love Sublime Text 2. This is my note page for some of the tips and tricks.

## Keystrokes
Here's the [official list of commands](http://www.sublimetext.com/docs/commands) available for Sublime Text 2.
<table class="table table-striped">
<thead>
    <th width="25%">Shortcut</th>
    <th>Description</th>
</thead>
<tbody>
    <tr>
        <td><kbd>Ctrl</kbd>+<kbd>D</kbd>
        <td>Multiple cursors: select next matching word
    </tr>
    <tr>
        <td><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Arrow Up/Down</kbd>
        <td>Multiple cursors: add next line
    </tr>
    <tr>
        <td><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Arrow Up/Down</kbd>
        <td>Move the current line up/down
    </tr>
</tbody>
</table>