<!-- Begin Footer
================================================== -->
<div class="footer">
    <p class="pull-left">
        &copy; Copyright {{ .Site.Copyright }}
    </p>
    <p class="pull-right">
        Customized Mediumish Theme, originally by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
    </p>
    <div class="clearfix">
    </div>
</div>

<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; Copyright {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <a target="_blank" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net
            </div>
        </div>
    </div>
</footer> -->
<!-- End Footer
================================================== -->