<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ "/js/jquery.min.js" | urlize | relURL }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script> -->
<!-- <script src="{{ "/js/bootstrap.min.js" | urlize | relURL }}"></script> -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>

{{ $siteJS := resources.Get "js/mediumish.js" }}
{{ $js := slice $siteJS | resources.Concat "js/bundle.js" }}
{{ $secureJS := $js }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

<!-- image zoom for post detail -->
<script src="{{ "/js/jquery.fluidbox.min.js" | urlize | relURL }}"></script>
<script>
    $('a.image--zoom,.gallery>a').fluidbox();
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-416229-12', 'juristr.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>

<script src="https://unpkg.com/quicklink@1.0.0/dist/quicklink.umd.js"></script>
<script>
window.addEventListener('load', () =>{
    quicklink();
});
</script>

<!-- <script src="assets/js/ie10-viewport-bug-workaround.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script> -->