body {
	margin-top: 15px;
}

.so-scores {
	float:right;
	padding-right:5px;
}

.mini-counts {
	font-size: 12px;
	font-weight: normal;
	padding: 3px 3px 3px 2px;
	height: 15px;
	line-height: 1.3;
	margin-right: 10px;
	text-align: center;
	min-width: 20px;
}

.answered-accepted {
	background: #75845C;
	color: #E1E818;
}

.feedentry {
	border-bottom: 1px solid #EEE;
}

.pages-content {
	font-size:14px;
}

.pages-content img{
	padding: 3px;
	border: 1px solid #EEE;
	max-width: 100%;
}

.pages-content p {
	line-height:1.7;
	padding-bottom:5px;
}

h1, h2, h3 {
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	border-bottom: 1px solid #CCC;
	font-weight:400;
}

h1 {
	font-size:36px;
	margin-bottom:15px;
}

h2 {
	font-size:30px;
	margin-bottom:15px;
}

h3 {
	font-size:26px;
	color: #777;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

blockquote{
	background-color: #F6F6F6;
	border-left: 4px solid #CCC;
	color: #222;
	margin: 20px 0 20px 20px;
	padding: 10px 10px 10px 10px;
	font-style: normal;
}

.publishDate {
	color: #777;
	float:right;
	padding-right:5px;
}

.container-fluid {
	padding-left:0;
}

#sidebar .gravatar{
	margin-left:11px;
}


#sidebar .nav {
	margin-top: 30px;
}

footer {
	text-align:center;
	color:#999;
}