body {
	margin-top: 15px;
}

.feedentry {
	border-bottom: 1px solid #EEE;
}

.publishDate {
	color: #777;
	float:right;
}

.container-fluid {
	padding-left:0;
}

#sidebar .gravatar{
	padding-left:11px;
}

#sidebar .name {
	padding-top:12px;
	padding-left:7px;
}

#sidebar .name #juri {
	padding-left: 1px;
	font-size: 46px;
	letter-spacing: 5px;
	color: #666;
}

#sidebar #strumpflohner {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	color: black;
}

#sidebar .nav {
	margin-top: 30px;
}

footer {
	text-align:center;
	color:#999;
}