body {
	margin-top: 15px;
}

.feedentry {
	border-bottom: 1px solid #EEE;
}

blockquote{
	background-color: #F6F6F6;
	border-left: 4px solid #CCC;
	color: #222;
	margin: 20px 0 20px 20px;
	padding: 10px 10px 10px 10px;
	font-style: normal;
}

.publishDate {
	color: #777;
	float:right;
	padding-right:5px;
}

.container-fluid {
	padding-left:0;
}

#sidebar .gravatar{
	padding-left:11px;
}


#sidebar .nav {
	margin-top: 30px;
}

footer {
	text-align:center;
	color:#999;
}