<ul class="header--navigation">
  <li>
    <a href="/blog">Blog</a>
  </li>
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="/blog/archive">Archive</a>
  </li>
  <li>
    <a href="/blog/collections/angular-1">Angular 1.x</a>
  </li>
  <li>
    <a href="/blog/collections/angular-2">Angular 2</a>
  </li>
  <li>
    <a href="/blog/collections/git">Git</a>
  </li>
  <li>
    <a href="https://github.com/juristr/ama" target="_blank">
      AMA
    </a>
  </li>
  <li>
    <a href="http://feeds.feedburner.com/juristrumpflohner">
      <i class="fa fa-rss"></i>
      Subscribe
    </a>
  </li>
</ul>