<ul class="header--navigation">
  <li>
    <a href="/blog">Blog</a>
  </li>
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="/blog/archive">Archive</a>
  </li>
  <li>
    <a href="https://github.com/juristr/ama" target="_blank">
      AMA
    </a>
  </li>
  <li>
    <a href="/blog/tags">
      Tags
    </a>
  </li>
  <li>
    <a href="/blog/links">
      Links
    </a>
  </li>
  <li>
    <a href="http://feeds.feedburner.com/juristrumpflohner">
      <i class="fa fa-rss"></i>
      Subscribe
    </a>
  </li>
</ul>