<nav>
  <div class="container">
    <header class="header--profile">
      <div class="header--avatar">
        {% include avatar.html %}
      </div>
      <p class="header--description">
        Full stack w/ passion for frontend • loves writing about tech • author: Learning Angular 2 Directives • DZone MVB • Software Craftsmanship Meetup organizer.
      </p>
      <div class="social-icons">
        <div class="social-icons--right">
          {% include social_icons %}
        </div>
        <div class="social-icons--left">
          <a href="https://twitter.com/juristr" class="twitter-follow-button" data-show-count="true">Follow me!</a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </header>
    <ul class="header--navigation">
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog/archive">Archive</a>
      </li>
      <li>
        <a href="https://github.com/juristr/ama" target="_blank">
          AMA
        </a>
      </li>
      <li>
        <a href="/blog/tags">
          Tags
        </a>
      </li>
      <li>
        <a href="/blog/links">
          Links
        </a>
      </li>
      <li>
        <a href="http://feeds.feedburner.com/juristrumpflohner">
          <i class="fa fa-rss"></i>
          Subscribe
        </a>
      </li>
    </ul>
  </div>
</nav>