<nav>
  <div class="container mobile-optimized">
    <header class="header--profile">
      <div class="header--avatar">
        {% include avatar.html %}
      </div>
      <div class="header--description">
        <h1>Juri Strumpflohner</h1>
        <span style="
            display: flex;
            height: 30px;
            align-items: center;
        ">
          <img src="/assets/images/gde.svg" style="height:23px">
          <a href="https://developers.google.com/experts/people/juri-strumpflohner" style="
              padding-left: 5px;
              font-size: 15pt;
          ">Google Developer Expert for Angular</a>
        </span>
        <p>
          Juri is a full stack developer and tech lead with a special passion for the web and frontend development. He creates online videos for <a href="https://egghead.io/instructors/juri-strumpflohner">Egghead.io</a>, writes articles on his blog and for tech magazines, occasionally speaks at conferences and holds training workshops.
        </p>
      </div>
      <div class="social-icons">
        <div class="social-icons--right">
          {% include social_icons %}
        </div>
        <div class="social-icons--left">
          <a href="https://twitter.com/juristr" class="twitter-follow-button" data-show-count="true">Follow me!</a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      {% comment %}
      <p>
          <strong>I'm available for being hired! Interested? <a href="/about/hire">More here &raquo;</a></strong>
      </p>
      {% endcomment %}
    </header>
    {% include {{nav_type}} %}
  </div>
</nav>
