<nav>
  <div class="container">
    <header class="header--profile">
      <div class="header--avatar">
        <div class="avatar">
          <img src="http://www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=150&amp;d=identicon&amp;r=PG"></div>
      </div>
      <p class="header--description">
        Full stack w/ passion for frontend • loves writing about tech • author: Learning Angular 2 Directives • DZone MVB • Software Craftsmanship Meetup organizer.
      </p>
      <div class="social-icons">
        <div class="social-icons--right">
          <a href="https://twitter.com/juristr"><i class="fa fa-twitter"></i></a>
          <a href="http://stackoverflow.com/users/50109/juri"><i class="fa fa-stack-overflow"></i></a>
          <a href="https://github.com/juristr"><i class="fa fa-github"></i></a>
          <a href="https://it.linkedin.com/in/juristr"><i class="fa fa-linkedin-square"></i></a>
        </div>
        <div class="social-icons--left">
          <a href="https://twitter.com/juristr" class="twitter-follow-button" data-show-count="true">Follow me!</a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </header>
    <ul class="header--navigation">
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog/archive">Archive</a>
      </li>
      <li>
        <a href="https://github.com/juristr/ama">
          AMA
        </a>
      </li>
      <li>
        <a href="/blog/tags">
          Tags
        </a>
      </li>
      <li>
        <a href="/blog/links">
          Links
        </a>
      </li>
      <li>
        <a href="http://feeds.feedburner.com/juristrumpflohner">
          <i class="fa fa-rss"></i>
          Subscribe
        </a>
      </li>
    </ul>
  </div>
  <!--
  <div class="navbar--left">
  <a href="/blog">JS</a>
</div>
<div class="navbar--main">
  <ul>
    <li>
      <a href="/blog/tags">
        <i class="fa fa-tags"></i>
        Tags
      </a>
    </li>
    <li>
      <a href="/blog/links">
        <i class="fa fa-link"></i>
        Links
      </a>
    </li>
    <li>
      <a href="/blog/archive">
        <i class="fa fa-archive"></i>
        Blog Archive
      </a>
    </li>
    <li>
      <a href="/about">
        <i class="glyphicon glyphicon-user"></i>
        About
      </a>
    </li>
    <li>
      <a href="https://github.com/juristr/ama">
        <i class="icon-comment"></i>
        AMA
      </a>
    </li>
    <li>
      <a href="http://feeds.feedburner.com/juristrumpflohner">
        <i class="fa fa-rss"></i>
        Subscribe
      </a>
    </li>
  </ul>
</div>
<div class="navbar--right"></div>
-->
</nav>