.article-link {
    height: inherit;
    padding: 15px;
    margin-bottom: 35px;
    cursor: pointer;

    .title {
        font-weight: bold;
    }

    .description {
        font-size: smaller;
    }

    .link {
        padding-top: 5px;
        font-size: small;
    }
}

.newsletter-box {
    height: inherit;

    .share-link {
        svg {
            height: 40px;
        }
    }

    .title {
        padding-top: 23px;
        font-size: 1.7rem;
        font-weight: bold;
    }

    .description {
        font-size: 1.1rem;
        padding-right: 30px;
    }
}