.article-link {
    height: inherit;

    .title {
        font-weight: bold;
    }

    .description {
        font-size: smaller;
    }

    .link {
        padding-top: 5px;
        font-size: small;
    }
}