$primary_1000: #002159;
$primary_900: #01337D;
$primary_800:#03449E;
$primary_700: #0552B5; 
$primary_600: #0967D2;
$primary_500: #2186EB;
$primary_400: #47A3F3; 
$primary_300: #7CC4FA; 
$primary_200: #BAE3FF; 
$primary_100: #E6F6FF;


// color palette
$neutral_1000: #1F2933;
$neutral_900: #323F4B;
$neutral_800: #3E4C59;
$neutral_700: #52606D;
$neutral_600: #616E7C;
$neutral_500: #7B8794; 
$neutral_400: #9AA5B1;
$neutral_300: #CBD2D9;
$neutral_200: #E4E7EB;
$neutral_100: #F5F7FA;

 
$supp_cyan_1000:#05606E;
$supp_cyan_900:#07818F;
$supp_cyan_800:#099AA4;
$supp_cyan_700:#0FB5BA;
$supp_cyan_600:#1CD4D4;
$supp_cyan_500: #3AE7E1;
$supp_cyan_400: #62F4EB;
$supp_cyan_300: #92FDF2;
$supp_cyan_200: #C1FEF6;
$supp_cyan_100: #E1FCF8;

$supp_orange_1000: #841003;
$supp_orange_900: #AD1D07;
$supp_orange_800: #C52707;
$supp_orange_700: #DE3A11;
$supp_orange_600: #F35627;
$supp_orange_500: #F9703E;
$supp_orange_400: #FF9466;
$supp_orange_300: #FFB088;
$supp_orange_200: #FFD0B5;
$supp_orange_100: #FFE8D9;

$supp_red_1000: #610316;
$supp_red_900: #8A041A;
$supp_red_800: #AB091E;
$supp_red_700: #CF1124;
$supp_red_600: #E12D39;
$supp_red_500: #EF4E4E; 
$supp_red_400: #F86A6A; 
$supp_red_300: #FF9B9B; 
$supp_red_200: #FFBDBD; 
$supp_red_100: #FFE3E3;

$supp_yellow_1000: #8D2B0B;
$supp_yellow_900: #B44D12;
$supp_yellow_800: #CB6E17;
$supp_yellow_700: #DE911D;
$supp_yellow_600: #F0B429;
$supp_yellow_500: #F7C948;
$supp_yellow_400: #FADB5F;
$supp_yellow_300: #FCE588;
$supp_yellow_200: #FFF3C4;
$supp_yellow_100: #FFFBEA;