.mediumnavigation {
	background:#fffffff7;
	// box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
	transition:top 0.2s ease-in-out;
	color:rgba(0,0,0,.5);
}

.mediumnavigation .navbar-brand {
	font-family: Merriweather, Georgia, serif;
	font-size: 26px;
	font-weight: 700;
}

.navbar-toggleable-md .navbar-collapse {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-weight: 400;
}


.mediumnavigation,
.dropdown-menu,
.dropdown-item {
	background-color: rgba(255, 255, 255, 0.97);
}

.mediumnavigation,
.mediumnavigation a,
.navbar-light .navbar-nav .nav-link {
	color: #999999;
}

.navbar-light .navbar-brand {
	color: #111111;
}

.navbar-light .navbar-brand:hover {
	color: #02b875;
}

.customarea .btn.follow {
	border-color: #02b875;
	color: #02b875;
}

.search-form .search-submit {
	background-color: #02b875;
}

.search-form .search-field {
	border-color: #f9f9f9;
}

.search-form .search-submit .fa {
	color: #ffffff;
}

.search-form .search-field,
.search-form .search-field::placeholder {
	color: hsl(0, 0%, 70%);
}

@media (max-width: 767px) {
	.navbar-collapse {
		background-color: rgba(255, 255, 255, 0.97);
	}
}

.navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
    text-transform: uppercase;
    font-size: 0.80rem;
    font-weight: 600;
    letter-spacing: 0.8px;
}