/*
    Base site style sheet
 */

@media screen {

  .nav-button {
    position: fixed;
    top: 5px;
    z-index: 102;
  }

  /* metabar */
  .metabar {
    display: block;
    z-index: 101;
    position: fixed;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 14px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    color: #b3b3b1;
  }

  .metabar .metabar-text {
    margin: 10px;
    line-height: 44px;
    display: inline-block;
    white-space: nowrap;
    color: #b3b3b1;
  }

  .metabar-text {
    color: #b3b3b1;
  }

  /* end metabar */

  .site-nav {

  }

  .sidr {
    background-color: #191918;
  }

  .sidr ul li:hover{
    line-height:48px;
  }

  .sidr ul {
    border-bottom:0;
    border-top: 0;
  }

  .sidr a,
  .sidr ul li a {
    color: #b3b3b1;
  }

  .sidr a:hover,
  .sidr ul li:hover>a{
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow:none;
    color: #fff;
  }

  .sidr ul li {
    border-bottom: 0;
    border-top: 0;
  }

  .sidr > .profile {
    text-align: center;
    padding-top:15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 15px;
  }

  .sidr > .profile > .bio {
    color: #b3b3b1;
  }

  .sidr > .profile > span {
    display:block;
  }

  .sidr .profile > .social-icons {
    font-size:32px;
  }


  #sidebar-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 44px;
    height: 44px;
    z-index: 700;
    background-color: #333332;
    text-align: center;
    border: 0;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    font-size:28px;
    color:white;
  }

  a#sidebar-button:hover {
    text-decoration:none;
  }

    /*
    .article-footer {
        background: #f9f9f7;
        border-top: 1px solid #e0e0df;
        height: 100%;
        padding: 0 20px 0 20px;
    }
    */

    .article-comments {
        margin: 0 auto;
    }

    /* Disqus comments */
    #disqus {
      margin: 40px auto 40px auto;
    }

    #disqus.active {
      background: #FFF;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }

    #disqus h2 {
      width: 80%;
      margin: 0 auto;
      padding: 1.5em 0 0.4em 0;
      display: none;
    }

    #disqus.active h2 {
      display: block;
    }

    #disqus_thread {
      width: 80%;
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;
    }

    #disqus .load-comments {
      display: inline-block;
      font-size: 20px;
      font-weight: 300;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-decoration: underline;
      padding: 20px 90px 20px 40px;
      border: 1px solid #a9d8b2;
      color: #57ad68;
      background: #FFF;
      border-radius: 42px;
      height: 70px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA4CAIAAADIJsd3AAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADExLzEyLzEzY3ttigAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAZ4SURBVGiB1Zp/bFvVFcc/99nPjhPHTdOmTdrQH6tGaEXTlNKpKlVXIU0MiYK0asA07R8qjRUJJAR/AEIgOoEQEqJMmiZtYtOEQBvaOjrYkCg/RruVH0payJY2aUNJoaFJnMSN4/jZ8fO9+8PPxEnfr8SxUb+Kkud77nvnm+Pzzj3n3CuUUiwGJqfpG+dsgokseWkNaoKGMBsa2LSc+lC5KoLl3JxX9IzSeYlTcb5KMp5lImMzrT7EsggtdWxrZnsz1y8nqC1EnViYXYem+Ns5jg7wxQR5CaL4OIf5CgQoRUBjTYwfrGVfGy11FeY6nObl//HXc6RzKIVwYueMwl2RIHs3cM9mWqIV4JpXvHKal7pJZEA4mtAnCpaOhrhnMz/bRCjgfYtfrv2XefpDTg5bOhYLBd2bl/PETtoaPSb74vrelzx+jMkc2iLSLIFURIL8che3rHeb5s31D//lVyfJy4W4pn8o0ODAVu7d4jjHg+uvT/G7z5CL+r27Y387D9xgL3ILdH/sqTZRBS9189vP7KWOXD+5xIudSFU9ohRiMPzmUz74ykZqz3UkzcPvY1bYR20hIC957BgXknNF9lwPnuBy1oOo8vGzQLqC5DRPnZj7BJt84B/nOX7Rm2jWdJuQV9ZvU6JrhAPogXm4kyboGuJPZ/jJxpnBuXEgbXL7YUam3Ljm8jRHObiLsIa8QlpY9xNZpGIiy2CK/gRnxrg4iYSo7jdIK2is4e8/IlZM0Oba9bVe4mkPo0qoCbJrtS+VBSSn6RziSD/vDDCV85UfChg3eOU0BzqskVn+OpXj5dP4WXSVIpufB9dYiJvX8OLNvHobe65hIms5iSffP/eSmrbj+v6XjHoZtUxsWcHvb+WRHWRNctLDgwUkMrxx3vo4i+uRfl9GLR+/2MIzu5nOY3qpk3DknHU9w/XrFF1D1QuoP27joe1MTntM06AvwUDSurbwySV/PuSKiSyjBmMGcYNUzmPygQ52t864oxOk5KNBKI0DnUMLzPNL8dC/ODlERAdFQKOljl2t7LuWVQ7J/4M38vElpHILZFLRHefujSV27Y4vQpKSzDJukMiQyBJP0zXMsx+z9zBvfm4//4aV7FxF2nVZEYLecUxZ5DqeYTxbxrJYRFBDD6Br6BqhAHU6yyOkprn/HY4O2N9yy/qZGt0eilSOgWSR68VJUl4JwIIRCaIHePojklkb6baV1Opu8UcI4mm640WuY0b5NnWEgkiQLy5z7KKNtCVKSx05V9NKxVi6yNVw9ZhFgYKTwzbj9SGW1ngHWsN0rQsWF5pwjGLuPlCAEFXk6gLpz/+qx1Uq6nS7cZjyUc0rVeQaKasH5w+CjhU2wxMZxgzvblwkWOS6LFLBGlCAYbIuxp5rbKQXkgxPeXDVBMtqi1xb64mGK5VkGSY5yWM7WBK2kf5nkEzezVJK0VRLe1MxH2isoTFsH6vnBVOSy5MLWDpMiWGyopbnbuKHdv0fpXh7gLB7400Q1VkXK8ld2psYmCg3JYiFaYxYuYsmaI5y02rubHPMXd4eoDvuUdIoxXWNBLUSrjc284ZDhuEfz++xsn0F4YAHCcPkUBe65mEfTdDeBKU54fdaCIhyU1hbj3TCwRP0jNEY9ljeNY0dq6E0vq6Ksq25SjUM8EInr56hwYuohLalrIvBnLVg37WV6rCWwjB5/DiHuoiFvN8ODe74rnU9aw3YuoJwEMOsYKx99wKHuugeYUmNt5ZCO2Pvd6yPs7geHyTrj6gQXoFmNkbSnBjk8Fk+/BoFS2v8paCKu64jemXfRcFf+pA+Si4NMib/HnTsEUlFIoNUjBoMpuhL0DfG0BRBjVrdihI+eNIY4aebZkZmuPaM0jfuqzTQA4wa7H/LTY1UKMhLpCIUIBSYX4gABNy7ZaaZNYvra73kfXeGBYR9pDsL9nup2N7C3RtnDVoKk9McvTC/x1Xu/VOKWIgnd85VYcWsf55nKlfVdrsTFAQ0ntnN2thckcX19XOLUHCXj8JG34EOvm+XPWpAzyi9zm9VNf8FAfvb+bnDFpcGHD6LlBanb15hgbWGNdWiiYqvvQWN92113NwCgv0JXu9H09AFNTprY7TWs7SGDUtYE6MhzMo6To3w6AekvvU9zk9H1JlR1jewJkYsZF++cRXtHRdw1ezJf4Or46xDKRZwhqTwp6pnSEoxr7M5rVE6Vn4bZ3OuRBXOPP0fnNisbIMd9sgAAAAASUVORK5CYII=);
      background-repeat: no-repeat;
      background-position: 97% center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: antialiased;
    }

    #disqus .load-comments:before {
      content: 'There are ';
    }

    #disqus .load-comments:after {
      content: ' comments. Want to add yours?';
    }
  

    #related-posts {
      font: 18px/1.5 'Source Sans Pro', sans-serif;
      margin: 20px auto 15px auto;
      max-width: 700px;
    }

    code {
      padding: 0px 5px 2px;
      /*border: 1px solid #DDD;*/
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      /*font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;*/
      /*font-size: 17px;*/
      color: #666;
      background-color: #fee9cc;
    }

    /* stackoverflow */
    kbd, .kbd {
      padding: 0.1em 0.6em;
      border: 1px solid rgb(204, 204, 204);
      font-family: Arial,Helvetica,sans-serif;
      background-color: rgb(247, 247, 247);
      color: rgb(51, 51, 51);
      box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px rgb(255, 255, 255) inset;
      border-radius: 3px;
      display: inline-block;
      margin: 0 0.1em;
      text-shadow: 0 1px 0 rgb(255, 255, 255);
      line-height: 1.5;
      white-space: nowrap;
    }
}

@media (max-width: 979px) {

  .nav-button {
    position: absolute;
  }

  .metabar {
    position: absolute;
  }

  .ads-container {
    display:none;
  }

}