<h2>Latest GitHub Activity</h2>
<section class="js-feed-content">
	<p><img src="resources/imgs/loader.gif">Loading...</p>
</section>
<p><a class="btn" href="https://github.com/juristr" target="_window">More »</a></p>