---
layout: default
title: Juri's TechBlog
current: blog
---

<div class="front-bg">
  <div class="image-cover-wrap" style="position:absolute;">
    <img class="front-image" src="/assets/images/juri_sidekick.jpg">
  </div>
  <div class="layout-foreground">
    <header class="hero hero-home layout-single-column">
      <div class="align-middle layout-single-column layout-foreground layout-fill-height">
        <div class="align-block">
          <h1 class="hero-title">Juri Strumpflohner</h1>
          <p class="hero-description hero-description-tagline">Computer geek and passionate martial arts practitioner</p>
        </div>
      </div>
    </header>
  </div>
</div>

<div class="container" style="max-width:640px; margin: 0 auto;">
  <section class="row main-content">
    <article class="col-md-12 col-lg-12 col-sm-12">

      <div class="post-list">

      {% for post in site.posts limit:20 %}
        {% include post_item %}
      {% endfor %}

      <hr/>

      <div class="row">
        <a href="/blog/archive" class="btn btn-default pull-right">Archive · All Articles</a>
      </div>

    </article>
  </section>
</div>