---
layout: page
title: Juri's TechBlog
current: blog
---
<div class="post-list">

{% for post in site.posts limit:20 %}

  <div class="row post-item">
    <h3 class="post-item-title">
      <a href="{{post.url}}">{{ post.title | truncatewords:30 }}</a>
    </h3>
    <div class="post-item-meta">
       <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
    </div>
  </div>

{% endfor %}

<hr/>

  <div class="row-fluid">
    <div class="span9">
      {% for post in site.posts limit:1 %}
        <div class="post-tile hero">
          <a href="{{post.url}}">
            {% if post.postimg != nil %}
            <span class="post-tile-img-wrap">
              <span class="post-tile-img">
                <img src="{{post.postimg}}" />
              </span>
            </span>
            {% endif %}
            <span class="post-tile-title {% if post.postimg == nil %}thumb{% endif %}">
              {{ post.title | truncatewords:30 }}
            </span>
            <p class="post-tile-content-preview">{{ post.content | strip_html | truncatewords:75}}</p>
            <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="span3">
      {% for post in site.posts offset:1 limit:2 %}
        <div class="post-tile">
          <a href="{{post.url}}">
            {% if post.postimg != nil %}
            <span class="post-tile-img-wrap">
              <span class="post-tile-img">
                <img src="{{post.postimg}}" />
              </span>
            </span>
            {% endif %}
            <span class="post-tile-title {% if post.postimg == nil %}thumb{% endif %}">
              {{ post.title | truncatewords:30 }}
            </span>
            <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <hr style="clear:both" />

  {% for post in site.posts offset:3 limit:40 %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

    {% cycle 'add rows': '<div class="row-fluid">', nil, nil, nil %}
      <div class="post-tile span3">
        <a href="{{post.url}}">
          {% if post.postimg != nil %}
          <span class="post-tile-img-wrap">
            <span class="post-tile-img">
              <img src="{{post.postimg}}" />
            </span>
          </span>
          {% endif %}
          <span class="post-tile-title {% if post.postimg == nil %}thumb{% endif %}">
            {{ post.title | truncatewords:30 }}
          </span>
          <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
        </a>
      </div>

    {% if this_year != next_year %}
      </div>
      <div class="row-fluid">
        <div class="span12 section-year">{{ next_year }}</div>
      </div>
      <div class="row-fluid">
    {% endif %}

    {% cycle 'close rows': nil, nil, nil, '</div>' %}
  {% endfor %}

  <div class="row-fluid">
    <a href="/blog/all" class="btn btn-large btn-success span12">All posts →</a>
  </div>
</div>