<p class="feedentry">
	<!--<span class="publishDate"><%= moment(this.last_activity_date).fromNow() %></span>-->
	<a href="http://stackoverflow.com/questions/<%= this.question_id %>/#<%= this.answer_id %>"><%= this.questionTitle %></a>
</p>