<h2><%= this.title %></h2>
<section class="js-feed-content">
	<p><img src="resources/imgs/loader.gif">Loading...</p>
</section>
<p><a class="btn" href="http://stackoverflow.com/users/50109/juri" target="_window">More »</a></p>