@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\000035}}
nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 50px;
  display: block;
  box-sizing: border-box;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000320}}
nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.44);
  height: 50px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000326}}
nav a:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000332}}
nav .navbar--left {
  display: inline-block;
  padding-left: 25px;
  font-size: 28px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000338}}
nav .navbar--left a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000346}}
nav .navbar--main {
  display: inline-block;
  position: relative;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000351}}
nav .navbar--main ul {
  width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000357}}
nav .navbar--main ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  margin-top: -1px;
  height: 49px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000364}}
nav .navbar--main ul li a {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_navbar\.scss}line{font-family:\0000368}}
nav .navbar--main ul li:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\000033}}
.fixed-container {
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 125px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000310}}
.fixed-container .kudo .opening {
  width: 40px;
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000316}}
.fixed-container .donate--fixed {
  text-align: center;
  font-weight: 300;
  opacity: 0.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000321}}
.fixed-container .donate--fixed span {
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000325}}
.fixed-container .donate--fixed:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000328}}
.fixed-container .donate--fixed:hover span {
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000333}}
.fixed-container .donate--fixed a {
  color: #726a6c;
  font-size: 15px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000338}}
.fixed-container .donate--fixed a i {
  display: block;
  font-size: 35px;
}

@media (max-width: 1050px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fixedcontainer\.scss}line{font-family:\0000348}}
  .fixed-container {
    position: relative;
    margin: 0 auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_ads\.scss}line{font-family:\000032}}
.article-body .ads {
  padding: 15px 0 15px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\000031}}
.author {
  vertical-align: top;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  font-style: normal;
  width: 100%;
  font-family: "Lora", serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\0000310}}
.author .author-image {
  float: left;
  padding-top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\0000314}}
.author .author-image img {
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\0000326}}
.author .meta-content {
  padding-left: 45px;
  line-height: 1.4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\0000330}}
.author .meta-content a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\0000334}}
.author .meta-content a :hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\0000340}}
.author .meta-content .author-name {
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-author\.scss}line{font-family:\0000346}}
.author .meta-content .date-container {
  font-size: 0.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-tags\.scss}line{font-family:\000033}}
article .tags {
  padding: 20px 0 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-tags\.scss}line{font-family:\000036}}
article .tags a {
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-tags\.scss}line{font-family:\0000314}}
article .tags a:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\000032}}
article img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\000036}}
article figcaption {
  font-size: 14px;
  text-align: left;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000315}}
article a.image--zoom {
  text-decoration: none;
  background-image: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000320}}
article figure.image--wide {
  width: 950px;
  margin-left: -40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000324}}
article figure.image--wide img {
  width: 950px;
}
@media screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000320}}
  article figure.image--wide {
    width: 100%;
    margin-left: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000332}}
  article figure.image--wide img {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000339}}
article figure.image--left,
article img.image--left,
article a.image--left {
  float: left;
  width: 50%;
  height: auto;
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000348}}
article .image--small {
  width: 50%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000353}}
article .image--medium {
  width: 70%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000358}}
article .image--full {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000364}}
article .image--full figcaption {
  text-align: center !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000369}}
article .gallery {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000376}}
article .col-2 {
  width: 49%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_article-images\.scss}line{font-family:\0000380}}
article .col-3 {
  width: 32%;
}

@-webkit-keyframes fluidboxLoading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes fluidboxLoading {
  0% {
    transform: translate(-50%, -50%) rotateX(0) rotateY(0);
  }
  50% {
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox__overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox--opened .fluidbox__overlay {
  pointer-events: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox__wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox__thumb {
  transition: opacity 0s ease-in-out 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox--closed .fluidbox__thumb {
  transition: opacity 0s ease-in-out 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox__ghost {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
  transition-duration: 0s,0.5s;
  transition-delay: 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox--opened .fluidbox__ghost {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox--closed .fluidbox__ghost {
  transition-delay: 0.5s,0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox__loader {
  -webkit-perspective: 200px;
  perspective: 200px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox__loader::before {
  background-color: rgba(255, 255, 255, 0.85);
  content: '';
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  padding-bottom: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox--loading .fluidbox__loader {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/_fluidbox\.scss}line{font-family:\000031}}
.fluidbox--loading .fluidbox__loader::before {
  -webkit-animation: fluidboxLoading 1s 0s infinite ease-in-out forwards;
  animation: fluidboxLoading 1s 0s infinite ease-in-out forwards;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000311}}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000320}}
.dot-divider::after {
  content: "·";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000324}}
article {
  background-color: white;
  padding: 140px 0 0 0;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000336}}
article figure,
article .author,
article .article-title,
article .article-subtitle,
article .tags,
article .article-footer,
article #disqus_thread,
article .article-body {
  margin: 0 auto;
  max-width: 850px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000348}}
article .article-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin-top: 45px;
  margin-bottom: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000361}}
article .article-subtitle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.44);
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000374}}
article .article-body {
  font-family: "Lora", serif;
  font-smoothing: antialiased;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000381}}
article .article-body h1, article .article-body h2, article .article-body h3, article .article-body h4 {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000385}}
article .article-body a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 25%);
  background-repeat: repeat-x;
  background-size: 2px 3px;
  background-position: 0 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000394}}
article .article-body p {
  font-weight: 400;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\0000399}}
article .article-body div.clear {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003103}}
article .article-body hr {
  display: block;
  width: 100px;
  margin: 51px auto 41px auto;
  border: 0;
  letter-spacing: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003112}}
article .article-body hr::before {
  content: '...';
  display: inline-block;
  margin-left: .6em;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003121}}
article .article-body ol, article .article-body ul {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003125}}
article .article-body ol {
  list-style: none;
  list-style-image: none;
  counter-reset: post;
  margin-top: 10px;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003133}}
article .article-body li {
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003139}}
article .article-body ol > li:before {
  padding-right: 12px;
  counter-increment: post;
  content: counter(post) ".";
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 58px;
  margin-left: -58px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003153}}
article .article-body blockquote.emphasized {
  line-height: 1.4;
  text-align: center;
  font-size: 32px;
  margin: 48px -100px;
  border: none;
  padding: 0;
  letter-spacing: 0.01rem;
  font-weight: 300;
  font-style: italic;
  -webkit-transition: margin .1s;
  -moz-transition: margin .1s;
  -ms-transition: margin .1s;
  -o-transition: margin .1s;
  transition: margin .1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003170}}
article .article-body blockquote {
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003179}}
article .article-body blockquote > p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003185}}
article .article-body .article-intro {
  font-size: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003188}}
article .article-body .article-intro a {
  background-position: 0 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003194}}
article .article-body h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  margin-left: -1.5px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.44);
  margin-top: 40px;
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003208}}
article .article-body pre {
  font-family: 'Source Code Pro';
  overflow-x: auto;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  padding: 1.25em;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003221}}
article .article-body pre,
article .article-body code {
  background: whitesmoke;
  border: 0;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003228}}
article .article-body img.emoji {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 6px;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003239}}
article .article-body .video iframe {
  width: 760px;
  height: 465px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003248}}
article .article-footer {
  margin: 0 auto;
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003254}}
article .article-footer .article-sharing #disqus {
  width: 200px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003259}}
article .article-footer .article-sharing .article-sharing-socialmedia {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003262}}
article .article-footer .article-sharing .article-sharing-socialmedia a {
  text-decoration: none;
  color: inherit;
  color: rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003268}}
article .article-footer .article-sharing .article-sharing-socialmedia a:hover {
  color: rgba(0, 0, 0, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003275}}
article .article-footer .comments-button,
article .article-footer button.paypal-button {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  padding: 5px 40px 5px 40px;
  border: 1px solid #a9d8b2;
  color: #57ad68;
  background: #FFF;
  border-radius: 42px;
  background-repeat: no-repeat;
  background-position: 97% center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003292}}
article .article-footer .comments-button:hover,
article .article-footer button.paypal-button:hover {
  background: rgba(87, 173, 104, 0.8);
  border-color: transparent;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003299}}
article .article-footer .paypal-button {
  height: 42px;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003307}}
article .article-footer .paypal-button button:before,
article .article-footer .paypal-button button:after {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003312}}
article .article-footer form.paypal-button {
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003319}}
article #disqus_thread {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003327}}
  article {
    padding-left: 5px;
    padding-right: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003331}}
  article figure,
  article .author,
  article .article-title,
  article .article-subtitle,
  article .tags,
  article .article-footer,
  article #disqus_thread,
  article .article-body {
    margin: 0 auto;
    max-width: 550px;
  }
}
@media screen and (max-width: 450px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003347}}
  article {
    padding-left: 5px;
    padding-right: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/blog\/_restyle\/src\/styles\/article\.scss}line{font-family:\00003351}}
  article figure,
  article .author,
  article .article-title,
  article .article-subtitle,
  article .tags,
  article .article-footer,
  article #disqus_thread,
  article .article-body {
    margin: 0 auto;
    max-width: 350px;
  }
}
