@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/coding\/juristr\.github\.com\/restyle\/src\/styles\/article\.scss}line{font-family:\0000311}}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/coding\/juristr\.github\.com\/restyle\/src\/styles\/article\.scss}line{font-family:\0000317}}
article {
  background-color: white;
  padding: 0 25px 20px 25px;
  margin: 10px auto 0 auto;
  max-width: 850px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/coding\/juristr\.github\.com\/restyle\/src\/styles\/article\.scss}line{font-family:\0000323}}
article .article-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin-bottom: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/coding\/juristr\.github\.com\/restyle\/src\/styles\/article\.scss}line{font-family:\0000335}}
article .article-subtitle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.44);
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/coding\/juristr\.github\.com\/restyle\/src\/styles\/article\.scss}line{font-family:\0000348}}
article .article-body {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Source Sans Pro", sans-serif;
  font-smoothing: antialiased;
  max-width: 780px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/coding\/juristr\.github\.com\/restyle\/src\/styles\/article\.scss}line{font-family:\0000358}}
article .article-body p {
  font-weight: 400;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/juri\/coding\/juristr\.github\.com\/restyle\/src\/styles\/article\.scss}line{font-family:\0000363}}
article .article-body blockquote {
  line-height: 1.4;
  text-align: center;
  font-size: 32px;
  margin: 48px -100px;
  border: none;
  padding: 0;
  letter-spacing: 0.01rem;
  font-weight: 300;
  font-style: italic;
  transition: margin .1s;
}
