<div class="span12">
	<div class="row-fluid">
		<div class="span6 js-blognews"></div>
		<div class="span6 js-tweets"></div>
	</div>
	<div class="row-fluid">
		<div class="span6 js-stackoverflow-top"></div>
		<div class="span6 js-stackoverflow-latest"></div>
	</div>
	<div class="row-fluid">
		<div class="span6 js-github-latest"></div>
	</div>	
	<!--
	<div class="row-fluid">
		<div class="span4">
			<h2>Twitter activity...</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
		<div class="span4">
			<h2>StackOverflow activity...</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
		<div class="span4">
			<h2>GitHub activity...</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
	</div>
	-->
</div>