html, body, button, input, select, textarea {
  /*font-size: 20px;*/
  color: #57534A !important;
}

body, textarea {
  line-height: 1.4;
}

.main-content {
  border-left: 1px solid #E3E3E3;
  padding-left:50px;
}

.home{
  position:fixed;
  z-index:1;
  top:25px;
  left:90px;
}

a.home {
  display:block;
  background: url("home_inactive.png") no-repeat transparent;
  height:36px;
  width:36px;
}

a.home:hover{
  background: url("home_active.png") no-repeat transparent;
}

.post-list > li {
  list-style:none;
  /*padding-top: 30px;*/
}

ul.post-list > li::before {
  content: "";
  position: absolute;
  right: 100%;
  margin-top: 0.55em;
  margin-right: 0.333em;
  width: 6px;
  height: 6px;
  border-radius: 14px;
  background-color: #423F37;
}

h1.post-title {
  font-size: 21px !important;
  margin-bottom:-5px;
}

h1.post-title > a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.post-date {
  display: block;
  font-size: 15px;
  color: #C7C2B8;
}

h1, h2, h3 {
  color: #423F37;
  font-weight: 600;
}

.nav .home {
  position: fixed;
  top: 1.3rem;
  left: 1.3rem;
}

.profile {
  position: fixed;
  bottom: 60px;
  left: 30px;
  z-index: 1;
}

.profile-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

article {
  padding-top:45px;
}

article > h1 {
  font-size:30px;
  margin-bottom:0;
}

.article-body > h2 {
  font-size:25px;
}

.article-body > h3 {
  font-size:22px;
}

.article-body {
  font-size:18px;
  font-weight:300;
  padding-top:35px;
}

.article-body > p:first-child {
  font-size:22px;
  font-weight:300;
}