---
layout: page
title: Juri's TechBlog
current: blog
---
<div class="post-list">
  <div class="">
    {% for post in site.posts %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

      {% cycle 'add rows': '<div class="row-fluid">', nil, nil, nil %}
        <div class="post-tile span3">
          <a href="{{post.url}}">
            {% if post.postimg != nil %}
            <span class="post-tile-img-wrap">
              <span class="post-tile-img">
                <img src="{{post.postimg}}" />
              </span>
            </span>
            {% endif %}
            <span class="post-tile-title {% if post.postimg == nil %}thumb{% endif %}">
              {{ post.title | truncate:60 }}
            </span>
            <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
        </div>

      {% if this_year != next_year %}
        </div>
        <div class="row-fluid">
          <div class="span12 section-year">{{ next_year }}</div>
        </div>
        <div class="row-fluid">
      {% endif %}

      {% cycle 'close rows': nil, nil, nil, '</div>' %}
    {% endfor %}
  </div>
</div>