---
layout: articles-default
type: article
---
<header class="main" id="siteheader">
    <h1 id="title">
      <a href="/en/" title="{{ page.title }}">{{ page.title }}</a>
    </h1>
    <a href="#sitenav" id="navtoggle">Show navigation</a>

    {% include site-nav.html %}
</header>

<div class="body-content">
  <section class="title">
    <section class="title-text container">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
    </section>
  </section>

  <article class="content-wrapper">

    <section class="container">
      
      <div class="content" id="article-content" style="margin:0 auto">

        {{ content }}

      </div>
    </section>
  </article>

  {% include articles-footer.html %}
  <script>
    window.isCompatible = function() {

      return null;

    };

    if (isCompatible() === false) {
      document.getElementById('notcompatible').className = '';
    }
  </script>

  <script>
  (function() {

    // Kill feedburner and marketing tracking arguments, but let them register
    // before we do it.
    setTimeout(function() {
      if (/^\?utm_/.test(document.location.search) &&
          window.history.replaceState) {
        window.history.replaceState(
            {}, '', document.location.href.replace(/\?utm_.*/, ''));
      }
    }, 2000);

    var siteHeader = document.getElementById('siteheader');
    var navToggle = document.getElementById('navtoggle');
    var siteNav = document.getElementById('sitenav');

    function toggle(target, forceActive) {

      if (typeof toc !== 'undefined') {
        // Switch off whichever one is not the
        // current target
        if (target === toc)
          siteNav.classList.remove('active');
        else
          toc.classList.remove('active');
      }

      // Toggle if no force parameter is set
      if (typeof forceActive === 'undefined') {
        target.classList.toggle('active');
      } else {
        if (forceActive)
          target.classList.add('active');
        else
          target.classList.remove('active');
      }

      // now find out what the set state ended up being
      var isActive = target.classList.contains('active');

      if (isActive)
        siteHeader.classList.add('expanded');
      else
        siteHeader.classList.remove('expanded');

    }

    navToggle.addEventListener('click', function(e) {
      toggle(siteNav);
      e.preventDefault();
    });


  })();
  </script>