<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="https://schema.org/Article">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta itemprop="description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="{{ page.lead }}">
  <meta itemprop="description" content="{{ page.lead }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <link rel="me" href="https://profiles.google.com/104904743888756261987" />
  <link rel="publisher" href='https://plus.google.com/104904743888756261987'/>
  <meta property="twitter:account_id" content="14407063" />

  <meta content='Juri&quot;s website.' name='description'/>
  <meta name="keywords" content="html5,html 5,javascript,.net,c#,microsoft,java,android,software architecture,testing,programming">
  <meta itemprop="name" content=" - Juri Strumpflohner">
  <meta name="google-site-verification" content="0_vyoIaeMG1kXR0h-48gy3OaGl8xoiSJsFDxxCTIBMs" />
  <meta name="google-site-verification" content="AvmssSjl_nchNXIqBW8Agb_UjGqvvLP7HXSxBZ9d0cg" />

  <!-- Twitter cards -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@juristr" />
  <meta name="twitter:title" content="{{ page.title }}" />
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
  {% else %}
  <meta name="twitter:description" content="{{ page.lead }}" />
  {% endif %}
    {% if page.postimg != nil %}
  <meta name="twitter:image:src" content="http://juristr.com{{ page.postimg }}" />
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="Juri Strumpflohner" href="//feeds.feedburner.com/juristrumpflohner">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="//www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=16&d=favicon&r=PG">

  <!-- custom styles -->
  <link href='//fonts.googleapis.com/css?family=Source+Code+Pro|Lora:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>

  <link rel="stylesheet" href="/assets/kudos/kudos.min.css">

  <link rel="stylesheet" href="/assets/css/new/article.css" type="text/css" media="all">
  <style>
    #markdown-toc li {
      margin-bottom:0;
    }

    #markdown-toc > li > ul > li {
      font-size: 93%;
    }

    ul#markdown-toc a {
      color: #9f72e6;
      background: 0;
    }
  </style>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>

  {{ content }}

  <script src="/assets/js/new/countable.min.js"></script>
  <script src="/assets/js/new/navbar.js"></script>
  <script>
      // $("pre").each(function(){
      //   var el = $(this);
      //   if(el.hasClass("nohighlight") === false){
      //     el.addClass("prettyprint");
      //     //el.addClass("linenums");
      //   }
      // });

      $(function(){

        // $('figure.kudo').kudoable({
        //     dataStore: window.firebaseStorage
        // });

        (function(){
          var wpm = 200,
              words = 0;

          $('.article-body').each(function() {
            Countable.once($(this)[0], function (counter) {
              words += counter.words;
            });
          });

          var estimatedRaw = words / wpm,
              minutes = Math.round(estimatedRaw);

          var effectiveTime = words + " words - " + ((minutes < 1) ? "a couple of secs" : minutes + " min read");

          $('.reading-time').html(effectiveTime);
        })();

        // $('#sidebar-button').sidr();

        // $('#sidebar-button').tooltip({
        //   title: "Click me",
        //   placement: 'right'
        // });

        // $('.js-tooltip').tooltip();

        // $('.js-click-region').click(function(){
        //   // $('.toc').fadeIn();
        //   $.sidr('close');
        // });

        // $('#sidebar-button').click(function(){
        //   if($('.toc').is(':visible') === true){
        //     $('.toc').fadeOut();
        //   }else{
        //     $('.toc').fadeIn();
        //   }

        //   try {
        //     ga('send', 'event', 'button', 'click', 'menu-button');
        //   } catch(err){}
        // });

        $('.js-rss-btn').click(function(){
          try {
            ga('send', 'event', 'button', 'click', 'rss-button');
          } catch(err){}
        });

        $('.js-paypal-donate').click(function(){
            try{
              ga('send', 'event', 'sidebar-link', 'click', 'donate-paypal');
            }catch(e){}
        });

        $('.js-social-links').click(function(){
            try{
              ga('send', 'event', 'link', 'click', 'social-networks');
            }catch(e){}
        });

        $('.sponsored-ads').click(function(){
            try{
              ga('send', 'event', 'link', 'click', 'sponsored-ads');
            }catch(e){}
        });

        $('.sponsored-ads-ultimateangular').click(function(){
            try{
              ga('send', 'event', 'link', 'click', 'sponsored-ads-ultimateangular');
            }catch(e){}
        });

        $('.sponsored-ads-ngcomponents-packtpub').click(function(){
            try{
              ga('send', 'event', 'link', 'click', 'sponsored-ads-ngcomponents-packtpub');
            }catch(e){}
        });

        $('.donation').click(function(){
            try{
              ga('send', 'event', 'link', 'click', 'donation-nepal');
            }catch(e){}
        });

        $('#related-posts').find('a').click(function(){
            try{
              ga('send', 'event', 'link', 'click', 'related-posts');
            }catch(e){}
        });

        $('.learning-ng2-course').click(function(){
            try{
              ga('send', 'event', 'link', 'click', 'learning-ng2-course');
            }catch(e){}
        });

      });

      function outgoing(url) {
        try {
          ga('send', {
            'hitType': 'event',          // Required.
            'eventCategory': 'links',   // Required.
            'eventAction': 'click',      // Required.
            'eventLabel': 'Outbound links',
            'eventValue': url
          });
        } catch(err){}
      }

      // Open external links (also that don't have a target defined) in a new tab.
      var externLinks = document.querySelectorAll('article.tutorial a[href^="http"]:not([target])');

      for(var i = 0, a; a = externLinks[i]; ++i) {
        a.target = '_blank';
        a.addEventListener('click', new Function('outgoing(' + '"' + a.href.replace(/.*?:\/\//g, "") + '"' + ');'));
      }

      // prettyPrint();
    </script>

  <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
  <script type="text/javascript">
        window.cookieconsent_options = {
          "message":"This website uses cookies to ensure you get the best experience on our website",
          "dismiss":"Got it!",
          "learnMore":"More info",
          "link":null,
          "theme":"dark-bottom"
        };
    </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
  <!-- End Cookie Consent plugin -->

  {% include analytics.html %}

</body>
</html>
