---
layout: default
current: blog
---

<div class="container">
  <div class="row">
    <section class="main-content post instapaper_body" style="max-width:650px">
      <article class="row">
        {% if page.postimg != nil and page.show_img_in_detail == true and (page.coverimage == false or page.coverimage == nil) %}
          <div class="col-sm-12 col-lg-12 post-image" style="margin-bottom:15px; text-align:center">
              <img src="{{page.postimg}}" />
          </div>
        {% endif %}
        <h1 class="article-title">
          Juri Strumpflohner
        </h1>
        <h2 class="post-subtitle">
          Coding Architect
        </h2>
        <div class="row article-body" style="padding-top:45px">
          {% include mycustoms/post-header-alert %}

          <h2 style="margin-bottom:0; font-size:30px">
            {{ page.title }}
          </h2>
          <div style="color:#999; font-size:14pt; padding-bottom:20px">
            <span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>
          </div>

          {{ content }}

          <div class="alert alert-info" style="text-align:center">
            <h3>
              <a href="{{page.link}}">Open original resource&nbsp;<i class="icon-long-arrow-right"></i></a>
            </h3>
          </div>

        </div>

        <div class="row author-bio-footer kindle-ignore">
          <div class="col-lg-12 col-md-12">
            <figure class="kudo">
            </figure>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
<section class="article-footer">
  {% include mycustoms/relatedposts %}
  <div class="row article-comments">
    <hr>
    {% include disqus_comments %}
  </div>
</section>
<script type="text/javascript" src="https://d1xnn692s7u6t6.cloudfront.net/widget.js"></script>

<div class="ads-container" id="fusion_ad">
    <p class="muted" style="text-align: center;">
        <a href="mailto:info%2Badsreq@juristr.com">Your ad here?</a>
    </p>
    <hr/>
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-9669473064376287";
    /* juristr blog posts */
    google_ad_slot = "9621561285";
    google_ad_width = 125;
    google_ad_height = 125;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
