---
layout: default
current: blog
---
{% include JB/setup %}
{% include themes/twitter/post.html %}

<div class="ads-container" id="fusion_ad">
    <p class="muted" style="text-align: center;">
        <a href="mailto:info%2Badsreq@juristr.com">Your ad here?</a>
    </p>
    <hr/>
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-9669473064376287";
    /* juristr blog posts */
    google_ad_slot = "9621561285";
    google_ad_width = 125;
    google_ad_height = 125;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>