---
layout: default
current: blog
---
{% if page.postimg != nil and page.show_img_in_detail == true and page.coverimage == true %}
  <div class="front-bg">
    <div class="image-cover-wrap">
      <img class="front-image" src="{{page.postimg}}" />
    </div>
  </div>
{% endif %}
<div class="sidebar">
  <div class="toc-container" style="display:none">
    <div class="toc-button toc-border" style="left:0">T</div>
    <div id="toc" class="toc-border" style="left:-400px">
      <div class="toc-control">
        <div>TOC</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    var displayReadingTime = function(){
      Countable.once($('.article-body')[0], function (counter) {
        //counter.words
        // var estimatedRaw = counter.words / wpm,
        //     remainder = estimatedRaw % 1,
        //     minutes = estimatedRaw - remainder,
        //     seconds = Math.round(estimatedRaw % 1);

        var wpm = 200,
            estimatedRaw = counter.words / wpm,
            minutes = Math.round(estimatedRaw);

        var effectiveTime = (minutes < 1) ? "a couple of secs" : minutes + " min read";

        $('.reading-time').html(effectiveTime);
        $('.reading-time').tooltip({ title: "Based on an avg reading speed of " + wpm + " wpm (words per minute)"});
      });
    };

    displayReadingTime();


    {% if page.categories[0] == "bliki" %}
      //$(".toc-container").show();
      //$("#toc").tocify({ context: '.main-content', scrollTo: 40 });

      var $tocButton = $('.toc-button'),
          $toc = $('#toc'),
          toggleToc = function(){
            var $lefty = $toc;//.siblings('ul');
            $lefty.animate({
              left: parseInt($lefty.css('left'),10) == 0 ?
                -$lefty.outerWidth() : 0
            });
          },
          toggleTocButton = function(){
            $tocButton.animate({
              left: parseInt($tocButton.css('left'),10) == 0 ?
                -$tocButton.outerWidth() : 0
            });
          };

      $('.toc-control').click(function(){
        toggleToc();
        toggleTocButton();
      });

      $('.toc-button').click(function(){
        toggleTocButton();
        toggleToc();
      });
      
    {% endif %}
  });
</script>
<div class="container">
  <div class="row">
    {% if page.postimg != nil and page.show_img_in_detail == true and page.coverimage == true %}
    <section class="main-content post instapaper_body" style="margin-top:20px">
    {% else %}
    <section class="main-content post instapaper_body">
    {% endif %}
      <article class="row">
        {% if page.postimg != nil and page.show_img_in_detail == true and (page.coverimage == false or page.coverimage == nil) %}
          <div class="col-sm-12 col-lg-12 post-image" style="margin-bottom:15px; text-align:center">
              <img src="{{page.postimg}}" style="width:100%" />
          </div>
        {% endif %}
        {% if page.postheadline != nil %}
          <div class="col-sm-12 col-lg-12 post-headerline">
            <p class="title">{{ page.postheadline }}</p>
          </div>
        {% endif %}
        <div class="post-meta kindle-ignore">
          <span class="reading-time"></span>
        </div>
        <h1 class="article-title">
          {{ page.title }}
        </h1>
        <h2 class="post-subtitle">
          {{ page.lead }}
        </h2>
        <!--
        {% unless page.tags == empty %}
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        {% endunless %}
        -->
        <div class="post-author-headline kindle-ignore">
          <div>
          <img src="http://www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=30&amp;d=identicon&amp;r=PG" class="img-circle">
          <a href="/about" class="post-author">Juri</a>
          wrote this on <span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>
          <br/>
          <!-- <a href="{{post.url}}#disqus_thread"></a> -->
          </div>
          <!--
          <div>
          {% unless page.tags == empty %}
            {% for tag in page.tags %}
              <a href="/blog/tags#{{tag}}" style="margin-right:10px;">{{ tag }}</a>
            {% endfor %}
          {% endunless %}
          </div>
          -->
        </div>
        <div class="row article-body">
          <!-- <time class="post-date">
            {{ page.date | date: "%B %d, %Y" }}&nbsp;-&nbsp;
          </time> -->
          {{ content }}
          <div class="row">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="juristr" data-size="large">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone"></div>

            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>

            <div class="kindleWidget" style="display:inline-block;padding:3px;cursor:pointer;font-size:11px;font-family:Verdana;white-space:nowrap;line-height:1;border-radius:3px;border:#ccc thin solid;color:black;background:transparent url('https://d1xnn692s7u6t6.cloudfront.net/button-gradient.png') repeat-x;background-size:contain;"><img style="vertical-align:middle;margin:0;padding:0;border:none;" src="https://d1xnn692s7u6t6.cloudfront.net/white-15.png" /><span style="vertical-align:middle;margin-left:3px;">Kindle</span></div>

          </div>
          <div class="row">
            {% if page.reposts && page.reposts.length > 0 %}
              <hr />
              <p><strong>This article has been re-published by</strong></p>
              <ul>
                {% for repostUrl in page.reposts %}
                  <li><a href="{{repostUrl}}" rel="nofollow">{{ repostUrl }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="author-bio-footer kindle-ignore">
          {% include mycustoms/author-bio %}
        </div>
        <!--
        <hr>
        <div class="pagination">
          <ul>
          {% if page.previous %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {% endif %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a>Next &rarr;</a></li>
          {% endif %}
          </ul>
        </div>
        -->
      </article>
    </section>
  </div>
</div>
<section class="article-footer">
  {% include mycustoms/relatedposts %}
  <div class="row article-comments">
    <hr>
    {% include disqus_comments %}
  </div>
</section>
<script type="text/javascript" src="https://d1xnn692s7u6t6.cloudfront.net/widget.js"></script>
<script type="text/javascript">(function k(){window.$SendToKindle&&window.$SendToKindle.Widget?$SendToKindle.Widget.init({"content":".instapaper_body","exclude":".kindle-ignore","title":".article-title","author":".post-author","published":".post-date"}):setTimeout(k,500);})();</script>
<script type="text/javascript" src="/assets/js/countable.min.js"></script>

<div class="ads-container" id="fusion_ad">
    <p class="muted" style="text-align: center;">
        <a href="mailto:info%2Badsreq@juristr.com">Your ad here?</a>
    </p>
    <hr/>
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-9669473064376287";
    /* juristr blog posts */
    google_ad_slot = "9621561285";
    google_ad_width = 125;
    google_ad_height = 125;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>