---
layout: default_new
current: blog
---
{% assign nav_type = "navbar-blog.html" %}
{% include navigationbar.html %}

<article>
    <!-- <div class="author">
        <div class="author-image">
            <a href="/about">
                <img src="https://www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=150&amp;d=identicon&amp;r=PG" itemprop="photo" alt="Juri Strumpflohner" title="Juri Strumpflohner"></a>
        </div>
        <div class="meta-content">
            <span class="author-name"><a href="/about">Juri Strumpflohner</a></span>
            <div class="date-container">
                <span class="post-date">{{ page.date | date: "%b %d, %Y" }}</span>
                <span class="dot-divider"></span>
                <span class="reading-time"></span>
            </div>
        </div>
    </div> -->
    {% unless page.date != empty %}
    <div class="date-container">
        <span class="post-date">{{ page.date | date: "%b %d, %Y" }}</span>
        <span class="dot-divider"></span>
        <span class="reading-time"></span>
    </div>
    {% endunless %}
    <h1 class="article-title">{{ page.title }}</h1>
    <h2 class="article-subtitle">{{ page.lead }}</h2>
    
    <div class="article-body">
        <p><i>Wanna keep up to date with the latest webdev stuff?</i> <a href="https://twitter.com/juristr">Follow me on Twitter</a></p>
        <!--
        <a href="https://egghead.io/courses/understand-how-to-style-angular-components" class="external-link" data-client="eggheadio" data-uid="courses/understand-how-to-style-angular-components">
            <img src="/blog/assets/imgs/banners/egghead-banner-styling-course.png" style="width:100%" />
        </a>
        -->
        {% if page.ads == null or page.ads == "true" %}
        <style>
            .affiliate-section {
                background: #f9f9f9;
                border: 1px solid #e5e5e5;
                padding: 8px;
                margin-bottom: 15px;
                position: relative;
            }

            .affiliate-section img {
                max-width: 100%;
            }

            .affiliate-section > p.description {
                margin: 0;
                font-size: 12pt;
            }

            .affiliate-section > span.explanation {
                font-size: 10pt;
                position: absolute;
                right: 12px;
                bottom: 10px;
            }
        </style>
        <div class="affiliate-section">
            <a href="https://ultimateangular.com/?ref=76683_m6z8h8fa" class="external-link" data-client="ultimateangular" data-uid="post-top-banner">
                <img src="https://ultimateangular.com/assets/img/banners/ua-leader.svg">
            </a>
            <p class="description">
                My friend Todd knows how to create top-notch video courses. Check out Ultimate Angular!
            </p>
            <span class="explanation"><a href="/faq#ultimate-angular">What's this?</a></span>
        </div>
        <!-- <a href="https://egghead.io/courses/learn-http-in-angular" class="external-link" data-client="eggheadio" data-uid="courses/learn-http-in-angular"  style="background-image:none">
            <img src="/blog/assets/imgs/banners/egghead-banner-learn-http.png" style="width:100%" />
        </a> -->
        {% endif %}
        {{ content }}
        {% include postfooter %}
        {% include mycustoms/sponsored-ad %}
    </div>
    {% unless page.tags == empty %}
    <div class="tags">
        {% for tag in page.tags %}
          <a href="/blog/tags#{{tag}}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endunless %}
    <div class="article-footer">
        <div class="article-sharing">
            <div id="disqus">
                <a href="#disqus_thread" class="comments-button js-load-comments">Comment</a>
            </div>
            <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=juri.strumpflohner@gmail.com"
            data-button="donate"
            data-name="Buy me a coffee"
            data-currency="EUR"
            data-callback="{{ site.production_url}}{{ page.url }}"></script>

            <div class="article-sharing-socialmedia">
                <a href="#" class="button"> <i class="fa fa-twitter"></i>
                </a>
                <a href="#"> <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    {% if page.comments == null or page.comments == "true" %}
    <div id="disqus_thread"></div>
    {% endif %}
</article>
<div class="fixed-container">
    <div class="donate--fixed">
        <a href="https://twitter.com/juristr" class="js-social-links" target="_blank">
            <i class="fa fa-twitter"></i>
            <span>Follow me!</span>
        </a>
        <!-- <a href="https://paypal.me/juristr" class="js-paypal-donate">
            <i class="fa fa-heart"></i>
            <span>donate</span>
        </a> -->
    </div>
    <figure class="kudo"></figure>
</div>
{% if page.comments == null or page.comments == "true" %}
<!-- disqus -->
<script id="dsq-count-scr" src="//juristr.disqus.com/count.js" async></script>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//juristr.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endif %}
<script type="text/javascript">
    $(function(){
      // $('.js-load-comments').click(window.Site.Disqus.loadDisqus);

      $('button.paypal-button').html('Useful? Buy me a coffee!');
    });
</script>
<noscript>
Please enable JavaScript to view the
<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<!-- Kudos script -->
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.1.2/firebase.js'></script>
<script type="text/javascript" src="/assets/kudos/kudos.min.js"></script>
<script type="text/javascript" src="/assets/kudos/kudos.firebase.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('figure.kudo').kudoable({
        dataStore: window.firebaseStorage
    });
  });
</script>

<!-- images -->
<script type="text/javascript" src="/assets/js/new/jquery.throttle-debounce.js"></script>
<!-- <script type="text/javascript" src="/assets/fluidbox/imagesloaded.pkgd.min.js"></script> -->
<script type="text/javascript" src="/assets/js/new/fluidbox.js"></script>
<script type="text/javascript" src="/assets/js/new/progressiveImages.js"></script>
<script type="text/javascript" src="/assets/js/linkjuice.min.js"></script>
<script>
    $('a.image--zoom,.gallery>a').fluidbox();

    // linkjuice.init('.article-body', {
    //     selector: ['h2', 'h3'],
    //     icon: '#',
    //     contentFn: function (node) {
    //         return node.innerHTML;
    //     }
    //   });

</script>

<script>hljs.initHighlightingOnLoad();</script>
