---
layout: default
---
<article class="container article">
    <section class="title">
        <section class="title-text">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.lead }}</h2>
        </section>
    </section>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div id="article-meta" class="article-meta">
                <nav class="toc">
                  <h1>Table of Contents</h1>
                  <div class="js-tocify"></div>
                </nav>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <section class="main-content post">
                <div class="row article-body instapaper_body">
                    {{ content }}
                </div>
            </section>
        </div>
    </div>
</article>

<script type="text/javascript" src="/assets/js/tocify/jquery.tocify.js"></script>
<script type="text/javascript">
    $(function(){
      $(".js-tocify").tocify({ 
        context: '.article-body',
        selectors: 'h2',
        extendPage: false
      });
    });

    $('body').scrollspy({ target: '.toc' });

    $('.toc').affix({
        offset: {
          top: 300
        }
    });
</script>