---
layout: default_new
current: blog
---
{% assign nav_type = "navbar-blog.html" %}
{% include navigationbar.html %}

<article>
    <!-- <div class="author">
        <div class="author-image">
            <a href="/about">
                <img src="https://www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=150&amp;d=identicon&amp;r=PG" itemprop="photo" alt="Juri Strumpflohner" title="Juri Strumpflohner"></a>
        </div>
        <div class="meta-content">
            <span class="author-name"><a href="/about">Juri Strumpflohner</a></span>
            <div class="date-container">
                <span class="post-date">{{ page.date | date: "%b %d, %Y" }}</span>
                <span class="dot-divider"></span>
                <span class="reading-time"></span>
            </div>
        </div>
    </div> -->
    <div class="date-container">
        <span class="post-date">{{ page.date | date: "%b %d, %Y" }}</span>
        <span class="dot-divider"></span>
        <span class="reading-time"></span>
    </div>
    <h1 class="article-title">{{ page.title }}</h1>
    <h2 class="article-subtitle">{{ page.lead }}</h2>
    
    <div class="article-body">
        <!--<a href="https://ultimateangular.com/?utm_source=juristr.com" target="_blank" class="sponsored-ads-ultimateangular" style="background-image:none">
            <img src="/blog/assets/imgs/ultimate-angular-banner.png" style="width:100%" />
        </a>-->
        <!-- <a href="https://goo.gl/zrGX8K" target="_blank" class="sponsored-ads-ngcomponents-packtpub" style="background-image:none">
            <img src="/blog/assets/imgs/banner-learning-angular-components.jpg" style="width:100%" />
        </a> -->
        <!--
        <a href="https://egghead.io/courses/understand-how-to-style-angular-components" class="egghead-lesson" data-lessonuid="courses/understand-how-to-style-angular-components">
            <img src="/blog/assets/imgs/banner-egghead-course-ng-styling.png" style="width:100%" />
        </a>
        -->
        {% if page.ads == null or page.ads == "true" %}
        <a href="https://egghead.io/courses/learn-http-in-angular" class="egghead-lesson" data-lessonuid="courses/learn-http-in-angular"  style="background-image:none">
            <img src="/blog/assets/imgs/egghead-learn-http-banner.png" style="width:100%" />
        </a>
        {% endif %}
        {{ content }}
        {% include postfooter %}
        {% include mycustoms/sponsored-ad %}
    </div>
    {% unless page.tags == empty %}
    <div class="tags">
        {% for tag in page.tags %}
          <a href="/blog/tags#{{tag}}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endunless %}
    <div class="article-footer">
        <div class="article-sharing">
            <div id="disqus">
                <a href="#disqus_thread" class="comments-button js-load-comments">Comment</a>
            </div>
            <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=juri.strumpflohner@gmail.com"
            data-button="donate"
            data-name="Buy me a coffee"
            data-currency="EUR"
            data-callback="{{ site.production_url}}{{ page.url }}"></script>

            <div class="article-sharing-socialmedia">
                <a href="#" class="button"> <i class="fa fa-twitter"></i>
                </a>
                <a href="#"> <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="disqus_thread"></div>
</article>
<div class="fixed-container">
    <div class="donate--fixed">
        <a href="https://paypal.me/juristr" class="js-paypal-donate">
            <i class="fa fa-heart"></i>
            <span>donate</span>
        </a>
    </div>
    <figure class="kudo"></figure>
<!--
  <script type="text/javascript">
google_ad_client = "ca-pub-9669473064376287";
    google_ad_slot = "9621561285";
    google_ad_width = 125;
    google_ad_height = 125;
</script>
<script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
-->
</div>
<!-- disqus -->
<script id="dsq-count-scr" src="//juristr.disqus.com/count.js" async></script>
<script type="text/javascript">
    $(function(){
      // $('.js-load-comments').click(window.Site.Disqus.loadDisqus);

      $('button.paypal-button').html('Useful? Buy me a coffee!');
    });
</script>
<script>
// var disqus_config = function () {
//   this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
//   this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
// };

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//juristr.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>
Please enable JavaScript to view the
<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<!-- Kudos script -->
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.1.2/firebase.js'></script>
<script type="text/javascript" src="/assets/kudos/kudos.min.js"></script>
<script type="text/javascript" src="/assets/kudos/kudos.firebase.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('figure.kudo').kudoable({
        dataStore: window.firebaseStorage
    });
  });
</script>

<!-- images -->
<script type="text/javascript" src="/assets/js/new/jquery.throttle-debounce.js"></script>
<!-- <script type="text/javascript" src="/assets/fluidbox/imagesloaded.pkgd.min.js"></script> -->
<script type="text/javascript" src="/assets/js/new/fluidbox.js"></script>
<script type="text/javascript" src="/assets/js/new/progressiveImages.js"></script>
<script type="text/javascript" src="/assets/js/linkjuice.min.js"></script>
<script>
    $('a.image--zoom,.gallery>a').fluidbox();

    // linkjuice.init('.article-body', {
    //     selector: ['h2', 'h3'],
    //     icon: '#',
    //     contentFn: function (node) {
    //         return node.innerHTML;
    //     }
    //   });

</script>

<script>hljs.initHighlightingOnLoad();</script>
