<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="https://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;URL='{{page.redirectUrl}}'" />  

    <title>{{ page.title }}</title>

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta itemprop="description" content="{{ page.description }}">
    {% else %}
      <meta itemprop="description" content="A resource for web developers.">
      <meta name="description" content="A resource for web developers.">
    {% endif %}


    <meta name="author" content="{{ site.author.name }}">
    <link rel="me" href="https://profiles.google.com/104904743888756261987" />
    <link rel="publisher" href='https://plus.google.com/104904743888756261987'/>
    <meta property="twitter:account_id" content="14407063" />

    <meta content='Juri&quot;s website.' name='description'/>
    <meta name="keywords" content="html5,html 5,javascript,.net,c#,microsoft,java,android,software architecture,testing,programming">

    <meta itemprop="name" content=" - Juri Strumpflohner">

    <meta name="google-site-verification" content="0_vyoIaeMG1kXR0h-48gy3OaGl8xoiSJsFDxxCTIBMs" />

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@juristr" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
      <meta name="twitter:description" content="{{ page.lead }}" />
    {% endif %}
    {% if page.postimg != nil %}
      <meta name="twitter:image:src" content="http://juristr.com{{ page.postimg }}" />
    {% endif %}
  </head>

  <body>
      {{ content }}
  </body>
</html>
