# Juri Strumpflohner
<img src="resources/imgs/aboutme.jpg">

Juri is a passionate martial arts practitioner. He's been practicing Yoseikan Budo
now for roughly over 12 years and owns a black belt (2nd DAN).

He's a coding geek, always in search for new interesting technologies with a major
interest in rich web client development (with JavaScript) and mobile applications. He also
participates in online communities, mainly on [StackOverflow](http://stackoverflow.com/users/50109/juri).

To contact him, just drop him a line on [Twitter](http://twitter.com/juristr) or <a class='js-emailfield'>send
an email</a>.
