# Projects
This page is under construction. Here I'll list my projects I'm currently working on.

In the mean time go to [http://projects.js-development.com](http://projects.js-development.com)

<div class="span12">
<!-- 	<div class="row-fluid"> -->
		<section class="span6 js-github-projects">

		</section>
<!-- 	</div> -->
</div>

**Todos**

   - GitHub section with projects and latest activities
   - Static sections with dedicated project pages, basically those currently on [http://projects.js-development.com](http://projects.js-development.com) moved here (??)