<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link rel="me" href="https://profiles.google.com/104904743888756261987" />
    <meta content='Juri&quot;s website.' name='description'/>
    <meta content='.Net, JavaScript, Microsoft Technologies, Google, Tips and Tricks, Software Development, Programming' name='keywords'/>  
    <meta name="google-site-verification" content="0_vyoIaeMG1kXR0h-48gy3OaGl8xoiSJsFDxxCTIBMs" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    
    <!-- <link href="/assets/site.css" rel="stylesheet">
    <link href="/assets/pages.css" rel="stylesheet"> -->

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>

    <script type="text/javascript" src="/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="container" class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="home">
            <div class="row-fluid">
              <div class="span8 offset4">
                <a href="/" class="home"></a>
              </div>
            </div>
          </div>
          <div class="profile">
            <div class="row-fluid">
              <div class="span8 offset2">
                <a href="/"><img src="http://www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=128&amp;d=identicon&amp;r=PG" class="img-rounded"></a>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                  <h2 class="profile-name">Juri Strumpflohner</h2>
                  <div class="row-fluid">
                    <div class="span8 offset4">
                      <a href="https://github.com/juristr"><img src="/assets/images/github.png"/></a>
                      <a href="http://twitter.com/juristr"><img src="/assets/images/twitter.png"/></a>                      
                      <a href="#"><img src="/assets/images/rss.png"/></a>
                    </div>
                  </div>
              </div>
            </div>
           <!--  <div class="row-fluid">
              <div class="span12">
                <nav>
                  <ul class="nav nav-pills">
                    <li>
                      <a href="/blog">Blog</a>
                    </li>
                    <li>
                      <a href="#">Projects</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                    <li>
                      <a href="#">Talks</a>
                    </li>      
                    <li>
                      <a href="#">About</a>
                    </li>      
                  </ul>
                </nav>                  
              </div>
            </div> -->
          </div>
                  
        </div>
        <section class="span8 main-content">
          {{content}}
        </section>
        <section class="span2">
        </section>
      </div>

      <!-- <hr>

      <footer>
        <p>© Juri Strumpflohner - JS-Development 2012</p>
      </footer> -->

    </div>
    <!--script type='text/javascript' src='/assets/js/steal.production.js?/assets/js/production.js'></script-->

    <script>
      // $(function(){
      //   $(".js-tweets").juristr_tweets();
      //   $(".js-stackoverflow-top").juristr_stackexchange({ showLatest: true });
      //   $(".js-stackoverflow-latest").juristr_stackexchange();
      //   new Juristr.Github($(".js-github-latest")).loadFeedData();
      // });
    </script>
  </body>
</html>
