<section class="span12 main-content post">

  <article class="span8">
    {% if page.postimg != nil and page.show_img_in_detail == true %}
      <div class="span12" style="margin-bottom:15px; text-align:center">
          <img src="{{page.postimg}}" style="width:100%" />
      </div>
    {% endif %}
    {% if page.postheadline != nil %}
      <div class="span12 post-headerline">
        <p class="title">{{ page.postheadline }}</p>
      </div>
    {% endif %}
    <div class="post-meta clearfix">
      <span class="post-meta-author">
        <a href="/about" class="post-author">Juri</a>
        <span class="divider-word">on</span>
      </span>
      {% unless page.tags == empty %}
        {% for tag in page.tags %}
          <a href="/blog/tags#{{tag}}" style="margin-right:10px;">{{ tag }}</a>
        {% endfor %}
      {% endunless %}    
    </div>
    <h1>
      {{ page.title }}
    </h1>
    <script type="text/javascript">
      $(function(){
        {% if page.categories[0] == "bliki" %}
          $(".toc-container").show();
          $("#toc").tocify({ scrollTo: 30 });
        {% else %}
          $.fn.scrolltop();
        {% endif %}
      });
    </script>
    <!--
    {% unless page.tags == empty %}
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
    {% endunless %} 
    -->
    <div class="article-body">
      <time class="post-date">
        {{ page.date | date: "%B %d, %Y" }}&nbsp;-&nbsp;
      </time>
      {{ content }}
    </div>

    <div class="row-fluid">
      <div class="span1">
          <strong>Tags:</strong>
      </div>
      <div class="span11 tags">
        {% unless page.tags == empty %}
          {% for tag in page.tags %}
            <a href="/blog/tags#{{tag}}" class="post-tag">{{ tag }}</a>
          {% endfor %}
        {% endunless %}
      </div>
    </div>
    <div class="row-fluid inline-bio">
      <div class="span2">
        <img src="http://www.gravatar.com/avatar/64537dfe80f44978663e378d375c7138?s=80&amp;d=identicon&amp;r=PG" class="img-rounded">
      </div>
      <div class="span10">
        <span class="bio-author"><a href="/about">Juri Strumpflohner</a></span>
        <p>Juri Strumpflohner currently works as a software architect focusing mainly on creating rich client web applications with JavaScript and the Microsoft technology stack. You can find him on <a href="http://twitter.com/juristr">Twitter</a>, <a href="http://github.com/juristr">GitHub</a> and <a href="http://stackoverflow.com/users/50109/juri">Stackoverflow</a>.</p>
        {% if page.reposts && page.reposts.length > 0 %}
          <p><strong>This article has been re-published at</strong></p>
          <ul>
            {% for repostUrl in page.reposts %}
              <li><a href="{{repostUrl}}" rel="nofollow">{{ repostUrl }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
        <p>
      </div>
    </div>
    <hr>
    {% include mycustoms/relatedposts %}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
  </div>
  <hr>
  {% include JB/comments %}
  </article>
  <div class="span4 sidebar">
    <div class="toc-container" style="display:none">
      <div id="toc"></div>
    </div>
  </div>
</section>
