{% if page.postimg != nil and page.show_img_in_detail == true and page.coverimage == true %}
  <div class="front-bg">
    <div class="image-cover-wrap">
      <img class="front-image" src="{{page.postimg}}" />
    </div>
  </div>
{% endif %}
<div class="sidebar">
  <div class="toc-container" style="display:none">
    <div id="toc" style="left:0">
      <div class="toc-control">
        <div>TOC</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    {% if page.categories[0] == "bliki" %}
      $(".toc-container").show();
      $("#toc").tocify({ context: '.main-content', scrollTo: 40 });

      $('.toc-control').click(function(){
        var $lefty = $(this).parent();//.siblings('ul');
        $lefty.animate({
          left: parseInt($lefty.css('left'),10) == 0 ?
            -$lefty.outerWidth() + 50 :
            0
        });
      });

    {% else %}
      $.fn.scrolltop();
    {% endif %}
  });
</script>
<div class="container">
  <div class="row-fluid">
    {% if page.postimg != nil and page.show_img_in_detail == true and page.coverimage == true %}
    <section class="main-content post" style="margin-top:20px">
    {% else %}
    <section class="main-content post">
    {% endif %}
      <div class="author-bio-sidebar">
        {% include mycustoms/author-bio %}
      </div>
      <article class="row-fluid">
        {% if page.postimg != nil and page.show_img_in_detail == true and (page.coverimage == false or page.coverimage == nil) %}
          <div class="span12 post-image" style="margin-bottom:15px; text-align:center">
              <img src="{{page.postimg}}" style="width:100%" />
          </div>
        {% endif %}
        {% if page.postheadline != nil %}
          <div class="span12 post-headerline">
            <p class="title">{{ page.postheadline }}</p>
          </div>
        {% endif %}
        <div class="post-meta">
          <span class="post-meta-author">
            <a href="/about" class="post-author">Juri</a>
            <span class="divider-word">on</span>
          </span>
          {% unless page.tags == empty %}
            {% for tag in page.tags %}
              <a href="/blog/tags#{{tag}}" style="margin-right:10px;">{{ tag }}</a>
            {% endfor %}
          {% endunless %}
        </div>
        <h1>
          {{ page.title }}
        </h1>
        <!--
        {% unless page.tags == empty %}
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        {% endunless %}
        -->
        <div class="row-fluid article-body">
          <time class="post-date">
            {{ page.date | date: "%B %d, %Y" }}&nbsp;-&nbsp;
          </time>
          {{ content }}
          <div class="row-fluid">
            {% if page.reposts && page.reposts.length > 0 %}
              <hr />
              <p><strong>This article has been re-published by</strong></p>
              <ul>
                {% for repostUrl in page.reposts %}
                  <li><a href="{{repostUrl}}" rel="nofollow">{{ repostUrl }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="author-bio-footer">
          {% include mycustoms/author-bio %}
        </div>
        <!--
        <hr>
        <div class="pagination">
          <ul>
          {% if page.previous %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {% endif %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a>Next &rarr;</a></li>
          {% endif %}
          </ul>
        </div>
        -->
      </article>
    </section>
  </div>
  <div class="row-fluid article-comments">
    <hr>
    {% include JB/comments %}    
  </div>
</div>
<section class="article-footer">
  {% include mycustoms/relatedposts %}
</section>
