<div class="article-link card">
    <div class="row">
        <div class="col-2 share-link">
            <a href="{{ .Get "url" }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-external-window">
                    <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z"></path>
                    <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z"></path>
                </svg>
            </a>
        </div>
        <div class="col-10">
            <div class="title"><a href="{{ .Get "url" }}" target="_blank">{{ .Get "title" }}</a></div>
            <div class="description">{{ .Get "text" }}</div>
            <div class="link">
                {{ .Get "url" }}
            </div>
        </div>
    </div>
</div>