{{ if .Get "size" }}
<figure class="image--{{.Get "size" }}">
{{ else }}
<figure class="image--medium">
{{ end }}
    {{ if .Get "nozoom" }}
        <img src="{{ .Get "url" }}" loading="lazy" class="lazyload"/>
    {{ else }}
        <!-- FIXME: if I use `image-zoom` the jQuery plugin loads all images eagerly -->
        <a href="{{ .Get "url" }}" class="image--zoom">
            <img src="{{ .Get "url" }}" loading="lazy" class="lazyload"/>
        </a>
    {{ end }}
    <figcaption>{{ .Get "caption" }}</figcaption>
</figure>

