<div class="newsletter-box card" onclick="window.location.href='/newsletter'">
    <div class="row">
        <div class="col-2 share-link">
            <a href="/newsletter" target="_blank">
                <svg style="height: 140px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-mail"><path class="primary" d="M22 8.62V18a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.62l9.55 4.77a1 1 0 0 0 .9 0L22 8.62z"></path><path class="secondary" d="M12 11.38l-10-5V6c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v.38l-10 5z"></path></svg>
            </a>
        </div>
        <div class="col-10">
            <div class="title">My Newsletter</div>
            <div class="description">
                I recently started a newsletter to more quickly and informally share new ideas and thoughts, complementary to my blog here. Interested? Click to subscribe.
            </div>
        </div>
    </div>
</div>