{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

<div class="container list-page archive">
    <div style="display:flex; justify-content: center">
        <svg style="height: 140px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-collection">
            <rect width="20" height="12" x="2" y="10" class="primary" rx="2"></rect>
            <path class="secondary" d="M20 8H4c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2zm-2-4H6c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2z"></path>
        </svg>
    </div>


    {{ .Content}}

    <section class="recent-posts">
        {{ range (where .Site.Pages "Type" "post").GroupByDate "2006" }}
        <div class="section-title">
            <h2><span>{{ .Key }}</span></h2>
        </div>
        <div class="listrecent">
            {{ range .Pages }}
            {{- partial "list-partials/smallpostbox.html" . -}}
            {{ end }}
        </div>
        {{ end }}
    </section>
</div>
{{ end }}
{{ define "footer"}}
<div class="container">
    <!-- {{- partial "_shared/jumbotron.html" . -}} -->
    {{- partial "_shared/footer.html" . -}}
</div>
{{ end }}