<h2>Latest tweets</h2>
<section class="js-feed-content">
	<p><img src="resources/imgs/loader.gif">Loading...</p>
</section>
<p><a class="btn" href="http://twitter.com/juristr" target="_window">More »</a></p>