---
layout: articles-default
title: Articles overview
---

<style>
</style>

<header class="main" id="siteheader">
  {% include site-nav.html %}
</header>

<div class="body-content">
  {% for post in site.categories.article limit:1 %}
    <section class="masthead">
      <a href="{{ post.url }}">
      <div class="container">
        {% unless post.postimg == empty %}
          <!-- <div id="image" style="background: url({{ post.postimg }}) center top no-repeat;">
          </div> -->
        {% endunless %}
        <h2>
          <span class="small">{{ post.subtitle }}</span>
          <span class="large">{{ post.headline }}</span>
          <span class="learnmore">Learn more</span>
        </h2>
      </div>
      </a>
    </section>
  {% endfor %}
<!-- <section class="search">
<div class="container">
<form action="/en/search" role="search">
  <legend>Search</legend>
  <label for="q">Search:</label>
  <input type="search" name="q" id="q" autocomplete="off" placeholder="Search" />
  <input type="submit" id="search-button" value="Search">
</form>
</div>
</section> -->

<div class="divider"></div>
<section class="latest-articles">
<div class="container">
<h2>Latest Articles</h2>
<a class="rss-feed" alt="RSS" href="/articles/atom.xml"><i class="fa fa-rss"></i></a>
<ul>

  {% for post in site.categories.article limit:20 offset: 1 %}
    <li>
      <a href="{{ post.url }}">
        <!-- <span class="left">
          <span class="author" data-author_id="{{ post.author }}"><img src="/static/images/profiles/75/paulkinlan.75.png" alt="Paul Kinlan" title="Paul Kinlan" width="60" height="60"></span>
        </span> -->

        <span class="right">
          <span class="title">
            {{ post.title }}
          </span>
          <!--span class="date">1/6</span -->
          <span class="description">{{ post.description }}</span>
        </span>

        <span class="clear"></span>
      </a>
    </li>
  {% endfor %}

 
</ul>
<div class="clear"></div>
</div>
</section>

<section class="landing-pages">
  <div class="panel">
    <h2>About</h2>
    <p>
      This page is my place to share articles about topics computer science topics. It completements <a href="/blog">my blog</a>.
    </p>
    <p style="text-align:right">
      <a href="/articles/about">Read more &raquo;</a>
    </p>
  <div class="clear"></div>
</div>
  <div class="panel performance">
    <div class="left">
      <h2>Subscribe</h2>
      <ul>
        <li>
          <a href="/articles/atom.xml" class="btn btn-default btn-transparent">
            <i class="fa fa-rss"></i> Articles only
          </a>
        </li>
        <li>
          <a href="http://feeds.feedburner.com/juristrumpflohner" class="btn btn-default btn-transparent">
            <i class="fa fa-rss"></i> Articles + Blog posts
          </a>
        </li>        
      </ul>
    </div>
    <div class="right">
    <h2>Follow me</h2>
      <p style="font-size:25px">
        {% include social_icons %}
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>